[2014-02-12 19:36] bsvensson opened #1 "Initial check-ins"

[2014-02-14 22:03] kellyhutchins opened #2 "DotNet: support protocol relative URLs"
Update the proxy so that if a location starts with // any protocol (http or https) will be accepted. The php and java proxies already support this behavior.

[2014-02-14 22:07] kellyhutchins opened #3 "Java: update mustMatch=false so that any site can use the proxy"
Currently the Java proxy always looks for the server url and if its not found it will not proxy.  Setting mustMatch to false should allow the proxy to proxy any site and not require that a server url is specified. This property is useful when testing and should be supported.

[2014-02-14 22:42] #1 closed, assigned to bsvensson

[2014-02-14 22:57] bsvensson opened #4 "PHP: Replace .htaccess example file with best practice in README.md"
See for example http://httpd.apache.org/docs/2.2/howto/htaccess.html :

_You should avoid using .htaccess files completely if you have access to httpd main server config file. Using .htaccess files slows down your Apache http server. Any directive that you can include in a .htaccess file is better set in a Directory block, as it will have the same effect with better performance._

[2014-02-15 00:26] kellyhutchins opened #5 "Java: token-based security requires that the serverUrl includes /rest"
Update the proxy so that /rest is not required.

[2014-02-15 01:08] #3 closed, assigned to nobody

[2014-02-18 21:16] esoekianto opened #7 "DotNet : Throw "Error 500-Protocol Error" when passing ArcGIS Server uri with windows authentication"
I know that proxy should only work with token-based arcgis server, but is there any way to allow the url for arcgis server that is not set for token based but window authentication only

![proxy1](https://f.cloud.github.com/assets/5265339/2200402/b3c2a566-98e1-11e3-94fa-48824fa690ee.PNG)
![proxy2](https://f.cloud.github.com/assets/5265339/2200404/b5c8cff2-98e1-11e3-82df-00e92f824a04.PNG)

[2014-02-26 23:33] jgravois opened #8 "when invalid XML is enountered in the .NET proxy.config, an error other than 403 should be thrown"
remove a closing </serverUrl> tag in the proxy.config and afterward you will encounter the error below when attempting to fetch a page:

{error: {code: Forbidden,message:"There is an error in XML document (32, 5). http://elevation.arcgis.com"}}

it seems weird to me that an error like this should be categorized as '403 Forbidden'

the same issue occurs when calling the proxy with no url defined (i

[2014-03-01 02:35] hgonzago opened #11 "Testing PHP file after download results in error since there is no logfile created yet"
Downloaded the ZIP, copied PHP folder the Apache web server folder, made sure read/write permissions were set where appropriate. Following steps in PHP README.md file where it states to test the proxy was installed correctly by typing in

http://[yourmachine]/PHP/proxy.php?http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson

results in an error "{"error":{"code":412,"details":["Detected

[2014-03-01 02:51] hgonzago opened #12 "PHP README.md doc should not include XML sample showing AppID and secret for route service"
This should have been removed from the original as we do not have the ability to register services as an item, rather an app.

Go to https://github.com/Esri/resource-proxy/tree/master/PHP

In the XML Example section > this specific part

[code]

[2014-03-02 03:42] #12 closed, assigned to nobody

[2014-03-04 15:31] lee53 opened #13 "Getting error in silverlight viewer or flex viewer"
The simple url test works :http://[yourmachine]/DotNet/proxy.ashx?http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson:

however when I put the proxy in the silverlight viewer setting, then the request got error "no map service found...."

[2014-03-05 17:19] bsvensson opened #14 "Improve errors for proxied "server not found" pages."
If the proxy cannot reach a server, it should report that properly.
If I have a domain allowed in the config but my machine for some reason cannot reach that domain (maybe because of network issue or typos), then we should return consistent, helpful error code/msg.

Currently:
- PHP returns 200 and an empty page
- DotNet return 500 Internal Server Error (or 500.0 NameResolutionFailure if on the sa

[2014-03-05 18:47] hgonzago opened #15 "PHP README.md doc shows example of proxy config using http for serverURLs"
If you copy/paste the README.md file's sample proxy config XML and try to use it against the route service, errors arise saying that it can't find a specific URL. The serverURL should be changed for these services to read HTTPS instead of HTTP.

[2014-03-05 20:03] hgonzago opened #16 "Include doc stating that traffic service should also be added if working with routing in JS app"
If no traffic service is specified within the proxy, directions and routing in JS apps will not work correctly. Add this to doc.

[2014-03-06 16:20] #15 closed, assigned to nobody

[2014-03-07 20:40] bsvensson opened #17 "DotNet: another trailing slash issue"
Proxying the exact same URL specified in the config does not work when it doesn't have an ending /.  This is sort of on purpose, but maybe this logic could be improved.

For example, if the config has `http://server.arcgisonline.com/arcgis/rest` then you can't proxy `http://example/DotNet/proxy.ashx?http://server.arcgisonline.com/arcgis/rest` - but `http://example/DotNet/proxy.ashx?http://server.a

[2014-03-11 20:51] jgravois opened #19 "Formatting is poor when the files downloaded via ZIP are opened in notepad"
it would be a good idea to mention in the help that intelligent text editors like Notepad++ are valuable when working with XML, but we also need to make sure that the formatting is okay in Notepad too because people use it to edit these files all the time.

[2014-03-12 15:25] esoekianto opened #20 "Release number or build timestamp on the proxy page"
I have an idea to add release number or build timestamp on the proxy page, so that we know which release version or when user download the proxy, and would help us in support when they call if something is not working.

[2014-03-13 12:54] djarrard-zz opened #21 "The proxies should decode encoded URLs"
The ArcGIS Viewer for Silverlight passes escaped URLs to the designated proxy page. The proxy page distributed with the Silverlight viewer knows how to decode the URL so as to validate it against the list of allowed URLs.

When testing this proxy with .NET, however, I found that it does not know how to handle escaped URLs, so it fails with a MustMatch error.

For example, when attempting to view a

[2014-03-14 22:07] #13 closed, assigned to nobody

[2014-03-14 23:35] bsvensson opened #23 "Improve URL-creating logic for rest/info and admin/generateToken"

[2014-03-17 02:31] hgonzago opened #24 "Doc who can access hosted services"
Need to doc that only the owner can authorize use of hosted services when working with resource proxy.

[2014-03-17 17:06] #8 closed, assigned to nobody

[2014-03-17 18:19] bsvensson opened #25 "Final 1.0 release steps"
For the "1.0" release:
- Update CHANGELOG.md
- Update the version number in the 3 proxy files.
- Tag with "v1.0" - see https://github.com/Esri/resource-proxy/tags
- Release as "1.0" - see https://github.com/Esri/resource-proxy/releases

[2014-03-17 19:38] #20 closed, assigned to bsvensson

[2014-03-17 19:54] #24 closed, assigned to hgonzago

[2014-03-18 15:47] #4 closed, assigned to phpmaps

[2014-03-18 16:46] gobsmack opened #30 "Support subdomain wildcards"
Is there any interest in supporting wildcards for referrer and server? For example:

    allowedReferers="http://*.myorganization.com"
Or, a better solution might be a regex match, for example:

    url="(https?:\/\/)?(\w+)(.myorganization.com)"

I'm dealing with over 50 subdomains accessing one application, so this way I could white-list them all. Maybe mine is an unusual case, and an unnecessary

[2014-03-19 00:35] bsvensson opened #31 "proxy-verification.php checking for version 5.4.2"
The php proxy seems to run fine with PHP 5.3. Should the "Check PHP version 5.4.2 or newer?" item be removed or the version number in that check changed?

[2014-03-19 01:17] bsvensson opened #32 "Use the correct serverUrl when two of them starts with same domain"
If my configuration file have two entries for one domain, then it should pick the "longest" or closeset match.

Sample:

[code]

Then the following query should work (not give 499):
http://localhost/proxytesting/php/testcase2/proxy.php?http://sampleserver6.arcgisonline.com/arcgis/rest/services/SaveTheBay/FeatureServer/0/

(only tested in php - where it fails because it uses the first one)

WORKARO

[2014-03-19 18:15] #5 closed, assigned to MehulChoksey

[2014-03-19 18:20] jgravois opened #33 "proxy throws 500 error instead of 403"
when the url requested has less folders than whats in the proxy.config, we encounter an index out of bounds error.

before we loop through the items and compare them we need to test to see if there are less items in the request string array and if so, abort immediately.  cc @esoekianto

[2014-03-19 18:59] #19 closed, assigned to bsvensson

[2014-03-19 23:16] MehulChoksey opened #36 "JSP: regression: Error thrown (with JSP code snippet)"
JSP code gets returned when error occurs instead of returning error in json format

With this config, try proxying any url.

`<ProxyConfig mustMatch="true">
  <serverUrls>
        <serverUrl url="//static.arcgis.com" />
    </serverUrls>
</ProxyConfig>`

[2014-03-20 01:02] bsvensson opened #38 "Add link to "released" version ZIP files"
Adding a link to https://github.com/Esri/resource-proxy/releases should help git-newbies quickly find the right thing to download.

Current instructions in main README.md only say:
- Download and unzip the .zip file or clone the repository.

[2014-03-20 16:57] #38 closed, assigned to bsvensson

[2014-03-20 18:24] bsvensson opened #41 "Don't assume proxy.ashx and proxy.config are in the root of the app"
Currently, the dotnet proxy looks for the config at `~/proxy.config`. This causes problem if you don't have the proxy in the root of your dotnet web app.  It should look for the config in the same folder as the proxy itself - which is what JSP and php proxies do.

[2014-03-20 18:55] #33 closed, assigned to nobody

[2014-03-20 18:58] #2 closed, assigned to jgravois

[2014-03-20 19:15] MehulChoksey opened #43 "JSP: RTE with code snippet when try proxy http%2f"
error occurs at line
if (ProxyConfig.isUrlPrefixMatch("http%3a%2f%2f", uri) || ProxyConfig.isUrlPrefixMatch("https%3a%2f%2f", uri) )

[2014-03-20 19:22] MehulChoksey opened #44 "Let AGS server error pass through."
For invalid json format to a valid proxied service, the AGS server returns error message in html format.
Let the proxy pass it along to the browser.

to reproduce add extra double quote at the end of the url.
http://services.arcgisonline.com/ArcGIS/rest/services/?f=invalidFormat

[2014-03-20 19:43] MehulChoksey opened #45 "JSP: Proxy throws 500 instead of 404"
To reproduce:
white list http://services.arcgisonline.com/
and then try to proxy:
http://services.arcgisonline.com/spmefolder/somepage.html

Proxy returns 500 instead of 404.

[2014-03-20 20:43] #41 closed, assigned to bsvensson

[2014-03-21 01:57] bsvensson opened #47 "PHP: proxy does not follow redirects"
For example, `proxy.php?http://services.arcgisonline.com` returns a 200 page displaying the "Moved Permanently" message.

DotNet and JSP follows the "301" redirect, and display the service directory page fine.

[2014-03-21 02:35] bsvensson opened #48 "proxy.jsp proxies forbidden URLs"
JSP proxy proxies pages it shouldn't while saying it doesn't....

`proxy.jsp?http://www.example.com` (assuming this URL is not allowed) returns  a 403 Forbidden, but then shows both the error message and the proxied page.

`{"error": {"code": 403,"details": ["The proxy tried to resolve a prohibited or malformed 'url'. The server does not meet one of the preconditions that the requester put on the

[2014-03-21 21:13] #48 closed, assigned to nobody

[2014-03-21 21:22] #17 closed, assigned to kellyhutchins

[2014-03-21 21:24] #16 closed, assigned to hgonzago

[2014-03-21 21:28] jgravois opened #49 "reorganize example serverUrls in doc"
link to one authoritative document on <serverUrl> tags with examples in main readme and link from indivdual project readmes.

[2014-03-21 21:29] jgravois opened #50 "add FAQ"
add a FAQ to the proxy documentation with miscellaneous 'gotchas'

[2014-03-21 21:43] #32 closed, assigned to nobody

[2014-03-25 17:04] #36 closed, assigned to MehulChoksey

[2014-03-25 22:59] jgravois opened #55 "don't exchange an OAuth token for a server token when attempting to retrieve Portal content"
if trying to retrieve private content via a portal query like below, its not appropriate for the proxy to exchange its OAuth token for a server token and results in an error from the server itself.

sample request:
http://org.maps.arcgis.com/sharing/rest/search?q=noahz&f=pjson

perhaps we can skip this step entirely if the request url is anything other than "rest/services" (ie: rest/community, res

[2014-03-26 00:07] #55 closed, assigned to nobody

[2014-03-26 15:01] #47 closed, assigned to phpmaps

[2014-03-26 15:14] #21 closed, assigned to phpmaps

[2014-03-26 15:22] #31 closed, assigned to phpmaps

[2014-03-26 20:44] phpmaps opened #59 "PHP proxy page fails to handle geoprocessing upload request"
After doing a file upload using Web API code to a Geoprocessing Service which takes a file as an input, an error message will surface like below.   Feature service attachments are not affected by this bug.

[code]

Here is Web API code to repro this issue.

https://gist.github.com/phpmaps/9791947

The problem resides in the file upload request sent out from the proxy.  Adding these lines will allo

[2014-03-28 16:59] rpepato opened #63 "node.js proxy page"
Considering the growth of node.js and pervasiveness of javascript, what about to build a proxy page that executes in node.js?

This would remove the requirement for a php, or java, or .net server engine for a full-stack javascript programmer.

[2014-03-30 20:39] bsvensson opened #65 "PHP returns gzipped html without gzip header for f=invalid case"
For the f=oops case, the browser is showing the gzipped content without telling the browser that it is gzipped (and thus need unzipping). This applies to PHP (and in the #64 pull request for JSP as well).

[code]

Test for example with curl as: `curl http://example.com/proxy.jsp?http://services.arcgisonline.com/ArcGIS/rest/services/?f=OOPS | gunzip`

[2014-04-02 00:09] MehulChoksey opened #66 "Do not give out proxyConfig's name in error message."
Try with any server url that is not whitelisted.

[2014-04-02 00:21] MehulChoksey opened #67 "Pass along headers for preventing performance degradation"
This includes but not limited to : ETag, Content-Encoding and caching related headers.

[2014-04-03 00:19] MehulChoksey opened #69 "JSP: Rate Limiting: Throw error 429 instead of 402"
If number of requests exceed specified limit with in a given time, use error code 429 (Too Many Requests) instead of 402 (reserved for payment required)

It would be nice to change the http status code as well..

[2014-04-03 20:09] MehulChoksey opened #70 "JSP: Do not assume content-type will always be present in response header"
As per HTTP RFC 2616, Content-type is not mandatory

This line could cause RTE
if (con.getContentType().contains("text") ||
            con.getContentType().contains("json") ||
            con.getContentType().contains("xml")) {

[2014-04-03 20:20] JeffJacobson opened #71 "Provide XSD schema for proxy.config."
An XSD schema would make it easier to edit the `proxy.config` file in Visual Studio and ensure that edits made to `proxy.config` are valid.

[2014-04-03 20:26] jgravois opened #72 "supporting .css files 404 because we look on the web server hosting the proxy"
requests for supporting .css are incorrectly aimed at the web server hosting the proxy

try proxying
http://services.arcgisonline.com/arcgis/rest/services

in web traffic you will see a failed request aimed at the server hosting your proxy
(ie http://localhost:50961/arcgis/rest/static/main.css)

[2014-04-03 21:03] #45 closed, assigned to esoekianto

[2014-04-03 21:04] #44 closed, assigned to jgravois

[2014-04-03 21:05] #23 closed, assigned to bsvensson

[2014-04-03 21:06] #14 closed, assigned to bsvensson

[2014-04-04 21:37] jgravois opened #77 "the .NET proxy is case sensitive when comparing config urls to requests"
when we changed the logic to split uris into an array of strings we forgot that we don't want this comparison to be case sensitive.

//inside GetConfigServerUrl() it should be
if (!configUriParts[i].ToLower().Equals(uriParts[i].ToLower())) break;

i will submit a pull request for this shortly in another feature specific branch.  my own master branch is still ahead of the remote.

[2014-04-06 18:06] #71 closed, assigned to nobody

[2014-04-07 15:29] #66 closed, assigned to jgravois

[2014-04-07 21:21] #77 closed, assigned to jgravois

[2014-04-09 16:33] esoekianto opened #87 "support f=lry, f=nmf, f=kmz that will give back file attachment"
Based on this documentation, list of supported format in REST API includes f=lyr, f=nmf, f=kmz and so on, http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Output_formats/02r3000000wq000000/

When we do this, "http://services.arcgisonline.com/arcgis/rest/services/world_physical_map/mapserver?f=lyr", we actually get the actual lyr file as download file, but when we proxy it "http://lo

[2014-04-09 17:57] #72 closed, assigned to nobody

[2014-04-09 19:13] #43 closed, assigned to MehulChoksey

[2014-04-09 20:13] esoekianto opened #88 "Proper error message when proxy from invalid referer"
https://github.com/Esri/resource-proxy/blob/master/Java/proxy.jsp#L771

[2014-04-09 20:42] #88 closed, assigned to esoekianto

[2014-04-09 21:14] MehulChoksey opened #90 "DotNet; when proxy spits out its own error, error code isn't a number."
error code should be http status code if status code is >= 400
e.g.
try  ?f=invalid format to see error message

{error: {code: BadRequest,message:"The remote server returned an error: (400) Bad Request. http://services.arcgisonline.com?f=asdfasdf"}}

[2014-04-10 11:41] Eserim opened #93 "Sometimes fails to pass ID task request"
Not sure if issue with my code, IIS setup or the proxy page.

Using .NET version, IIS7 on 2008R2 server.

Sometimes the Javascript API  ID request fails to get passed to server.

Then, as if by magic, it all works.  Last time this change happened it was bang on 12:30 - so don't know if something refreshed on server to fix this.

I refresh the proxy application after making changes.

Spurious chang

[2014-04-10 13:52] #93 closed, assigned to nobody

[2014-04-10 16:11] kellyhutchins opened #97 "Php proxy fails when used with secure web maps"
I have a web map that is shared to 'organization only'. Storing the credentials for that web map in the proxy works with the .NET proxy but fails with php.

Need to check the Java proxy too.

[2014-04-10 17:30] #11 closed, assigned to kellyhutchins

[2014-04-10 18:20] #50 closed, assigned to bsvensson

[2014-04-11 20:45] esoekianto opened #105 "PHP: curl error"
Either implement this https://github.com/phpmaps/resource-proxy/commit/891d8a9d4794aa559337e655bf0869eea5b9f86c, from #99

or pull #53

or something better

[2014-04-11 20:48] #65 closed, assigned to phpmaps

[2014-04-14 17:43] #25 closed, assigned to bsvensson

[2014-04-14 17:44] bsvensson opened #108 "The 1.1.0 release steps"
For the "1.1" release:
- [X] Update [CHANGELOG.md](https://github.com/Esri/resource-proxy/blob/master/CHANGELOG.md) with changes (via #271)
- [x] Update the version number in the three proxy files from 1.0 to 1.1.0-beta until released
- [x] Close or move all issues [marked for 1.1.0 milestone](https://github.com/Esri/resource-proxy/milestones/1.1.0).
- [x] Update the version number in the three pr

[2014-04-16 20:59] kellyhutchins opened #112 "Update the read-me files to include info for setting the proxy url for legacy versions of the JSPAI"
Currently we have the following example in the read-me files. This works great if the app using the proxy is coded in AMD style. This might be confusing for those building apps in the legacy style. Need to update the example to clarify this.

  urlUtils.addProxyRule({
        urlPrefix: "route.arcgis.com",
        proxyUrl: "http://[yourmachine]/PHP/proxy.php"
    });

[2014-04-20 15:31] GISNuts opened #115 "Request Allowed with Null Referer"
Using .jsp version of proxy.  Restricting referers works except for when the referer is null, i.e. proxy file address typed directly into browser.  I added this above the allowed referer check (line 757) and it seems to fix the issue for my use case:

if (request.getHeader("referer") == null){
        _log(Level.WARNING,"Proxy is being used from a null referer.");
                sendErrorResponse

[2014-04-23 22:33] esoekianto opened #117 "document allowedReferer = "*" will allow null referer"
- we need to document that user must set the allowedReferer value to "*", for testing  in browser directly or any request with null referer request
- the value of allowedReferer should either be "*" or "http://example1.com, http://example2.com"
- should we allow the allowedReferer value to be null? or not being set? should we assume this is the same as allowedReferer = "*" ?

[2014-04-24 16:15] #115 closed, assigned to esoekianto

[2014-04-29 16:42] #105 closed, assigned to nobody

[2014-04-30 04:14] #97 closed, assigned to phpmaps

[2014-04-30 22:13] #87 closed, assigned to nobody

[2014-04-30 22:13] #70 closed, assigned to esoekianto

[2014-06-09 10:04] dstubbins opened #124 "Cant Access secure items (e.g. webmap) via app login to ArcGIS online"
I have been using the DOTNET version, and failing to access secure webmaps using an app login to arcgis online, using a specific account. I noticed a closed issue https://github.com/Esri/resource-proxy/pull/109 so maybe Its a doc/config issue on my  part..

I believe the proxy is incorrectly trying to exchange a portal token for a server token from portal after getting a valid portal token.  It sh

[2014-06-09 11:51] #124 closed, assigned to nobody

[2014-06-12 21:36] dasa opened #125 "response is not gzip encoded when remote response is gzip"
The proxy is unzipping the remote response and returning this to the client. This is bad for performance. Tested DotNet, JSP and PHP using Charles.

[2014-06-24 19:55] phpmaps opened #127 ".NET proxy does not document log file usage"

[2014-06-26 16:22] mothmonsterman opened #128 "Mixed user and app authentication"
Unless I missed something, it may be worth noting that 2 separate proxy configurations were required to handle a mixture of local ARCGIS server user authentication along with credit based app authentication (i.e., route, traffic, etc) in the same application.

I could not for the life of me get the app to work when there was a mixture of OAuth 2.0 and non-OAuth credentials in the same proxy config

[2014-06-27 15:49] jgravois opened #129 "global mustMatch flag must be 'true' to authenticate secure services"
When you call http://mymachine/php/proxy.php?http://route.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World?f=json

With this in the proxy.config
[code]
The following is returned
{"error":{"code":499,"message":"Token Required","details":[]}}

The same is not true of the .NET/Java proxies.  (i.e: a token is retrieved and appended whether the global mustMatch flag is set to ‘true’ or

[2014-06-28 19:42] #128 closed, assigned to esoekianto

[2014-07-18 16:27] gobsmack opened #135 "Do we handle Silverlight's empty referer?"
So, it's my understanding that Silverlight still doesn't send the "referer" header. I think this prevents me from using the allowedReferers array,

Given that people (like me) are still afflicted with supporting Silverlight, is there a  workaround?

For example, what if I entered an ip address into the allowedReferers. Then, if the referer header is empty, compare the request ip with any ip addres

[2014-07-18 18:24] #135 closed, assigned to nobody

[2014-07-23 22:18] #112 closed, assigned to kellyhutchins

[2014-07-25 10:20] shaikhrizuan opened #136 ".NET Error:The remote name could not be resolved: 'sampleserver3.arcgisonline.com"
Hi,

I am getting error at Stream outputStream = req.GetRequestStream()) saying "The remote name could not be resolved: 'sampleserver3.arcgisonline.com". I have add this URL in my proxy.config http://sampleserver3.arcgisonline.com/ArcGIS/rest/services which is working fine. Also when i try to check with http://[yourmachine]/DotNet/proxy.ashx?http://services.arcgisonline.com/ArcGIS/rest/services/?f

[2014-07-25 18:38] #90 closed, assigned to jgravois

[2014-07-25 20:10] #67 closed, assigned to nobody

[2014-07-29 01:06] #69 closed, assigned to esoekianto

[2014-07-30 18:39] NoashX opened #137 "Referer constant is hardcoded in .ashx file to use localhost, and should be configurable in .config"
DotNet version, the PROXY_REFERER constant, should be able to bet set to user's server in proxy.config file

[2014-08-08 22:46] jesvinvalencia opened #138 "Java proxy page does not request a new OAuth2 token after a previous token has expired."
Steps to reproduce:

1.  Install and configure the Java proxy page to proxy to an ArcGIS Online subscription-based service, such as traffic.arcgis.com or route.arcgis.com.

2.  Register a web application that uses the ArcGIS Online subscription-based service and embed the clientId and clientSecret in the proxy configuration file.  Test your application to ensure that it can access the services.

3

[2014-08-12 16:12] Robert-W opened #139 "PHP Proxy - net::ERR_INVALID_CHUNKED_ENCODING"
Hi, I am getting this error (net::ERR_INVALID_CHUNKED_ENCODING) when requesting a secure resource via the php proxy. The resource is a WFS service and I am requesting it with the JavaScript API's esri/request module.  I have tried the url by itself in the browser and it works, throws cors issues when I request it from the code which is why I am using the proxy, but it fails with a php proxy.  Test

[2014-08-12 16:34] #139 closed, assigned to nobody

[2014-08-12 17:19] #7 closed, assigned to kellyhutchins

[2014-08-12 18:25] nmanocha opened #140 "PHP proxy allowedReferer should use referer and not domain when checking"

[2014-08-14 04:57] ThePhetthanan opened #142 "PHP Proxy page isn't get token from token service"
I use PHP proxy page and config in "proxy.config" like in README.md

<serverUrl
          url="myesriservice.com"
          username="myusername"
          password="mypassword"
          rateLimit="120"
          rateLimitPeriod="60"
          matchAll="true"/>

and I test proxy with "http://myhost/PHP/proxy.php?http://myesriservice.com/arcgis/rest/services/".
It say i not login.

But my friend u

[2014-08-14 08:40] esride-chb opened #143 ".NET proxy: Example is not working"
In .NET there is an example of proxy using application credentials and limiting requests to 10/minute with the following config:

<serverUrl url="http://route.arcgis.com"
    clientId="6Xo1d-example-9Kn2"
    clientSecret="5a5d50-example-c867b6efcf969bdcc6a2"
    rateLimit=600
    rateLimitPeriod=60
    matchAll="true">
</serverUrl>

This sample is not working because of the missing "" for rateLim

[2014-08-14 15:32] #143 closed, assigned to bsvensson

[2014-08-15 16:09] bsvensson opened #144 "Add "ping" to DotNet and PHP"
Support "pinging" to allow user to quickly test if the proxy page has been setup correctly in the web server.
`http://<servername>/<foldername>/proxy.php?ping`
`http://<servername>/<foldername>/proxy.ashx?ping`

See java implementation in #131, which returns:
`{ "Proxy Version": "1.1 Beta", "Configuration File": "OK", "Log File": "OK"}`

[2014-08-18 14:49] vtforester opened #146 "No client-side validation for expired tokens"
I don't see any client-side validation (for any of the proxies) that checks to see if a token stored in the application scope has expired based on the server-side expiration. In the Silverlight proxy, we have this:

    // If a token has been generated, check the expire time
    if (HttpRuntime.Cache[si.Url] != null)
    {
        string existingToken = (HttpRuntime.Cache[si.Url] as Dictionary<str

[2014-08-20 01:25] #142 closed, assigned to nobody

[2014-08-28 16:01] hbukhari opened #149 "DotNet proxy client return GET methods in IE only"
DotNet proxy client return GET methods in IE only but in other browsers POST is there, for IE V11 I keep getting SCRIPT1002: Syntax error, any one can help please

[2014-08-28 19:22] #149 closed, assigned to nobody

[2014-09-02 00:14] hbukhari opened #150 "IE the proxy is not switching to a post for the query"
I have test the proxy on IE 11 using query.where with a large data in where statement and was able to get the issue with the proxy in IE not using POST but instead using GET and thus the error

query.where = "1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND 1=1 AND

[2014-09-02 15:10] bsvensson opened #151 "DotNet Proxy not handling serverUrl with ? in url"
The serverUrl's url parameter does not seem to handle things past the questionmark.

This works:

    <serverUrl
        url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/SaveTheBay/FeatureServer/0/query?"
        username="user1"
        password="user1"
        matchAll="true"/>

This does not work (not the added "w")

    <serverUrl
        url="http://sampleserver6.arcgisonline.c

[2014-09-03 05:12] #150 closed, assigned to nobody

[2014-09-04 20:30] NorthLineGIS opened #153 "Allowed Referer Can Be Easily Hacked"
Question:
In our scenario, we are using a service secured with token authentication on the server.  We are then using the username and password parameters in the proxy.config.  We also limit the allowedReferers to our domain.

Using any modify header plugin, you can easily bypass the allowed referers, granting logged in access to secured services... This seems like a pretty big security hole.  Any

[2014-09-11 09:47] Sokin111s opened #154 "Java proxy to access info through another proxy"
Hi,

I was wondering what can I do to the current application, which works fine, to access resources behind another proxy. It will also need a username and pass to get through.
I must add extra code to proxy.jsp? Any suggestions?

Thanks in advance for your help,

Sokin

[2014-09-17 11:58] #154 closed, assigned to nobody

[2014-10-03 20:02] mikebobbitt opened #155 "How to hard code credentials for a layer from ArcGIS Online into a Flex app?"
I have been working with tech support but they seem unable to come up with a solution and have recommended I post the problem here.

What I am wanting to do is hard code login credentials to pull in a tiled image layer from ArcGIS Online into a Flex app map via a proxy file.

The following is the syntax tech support had me put into our proxy.config file:

<serverUrl url="http://tiles.arcgis.com/ti

[2014-10-27 15:14] #153 closed, assigned to nobody

[2014-10-27 15:22] #136 closed, assigned to nobody

[2014-10-27 15:24] #117 closed, assigned to bsvensson

[2014-10-27 15:28] #140 closed, assigned to nobody

[2014-11-05 00:45] msokolDOIT opened #156 "DotNet: Using HTTP/HTTPS"
We've been trying to use the DotNet proxy to load both http and https rest services but it seems we can only use one or the other, not both.  I have tried using two separate proxies as well to separate out the http from https services with no lucky.  Is this a proxy issue or an unsupported feature of the Esri JS API?

[2014-11-06 19:32] Jianxia opened #157 "Support web tier authentication"
Web AppBuilder Developer edition can not work with IWA/PKI/LDAP portal in IE8/9 due to the limited browsers' support for CORS. It would be nice if we can enhance our proxy to support web tier authentication. Per @kellyhutchins, there has been some discussion (see this issue: https://github.com/Esri/resource-proxy/issues/7), but no any plans yet.

@qlqllu  @pspraveenkr

[2014-11-11 20:46] nhaney90 opened #158 "Cannot access secured services hosted on tiles.arcgis.com with the DotNet and PHP proxies"
To reproduce this issue publish a tiled service to ArcGIS Online. Share this service only with your organization. In your PHP proxy put your AGOL username and password in a server URL tag along with the URL to the tiled service you just published. In the address bar of your browser try to access the tiled service by passing through the proxy similar to this:
http://csc-nhaney7d/PHP/proxy.php?https

[2014-11-15 16:39] bsvensson opened #160 "Remove whitespace in allowedReferers (php/jsp)"
This was done for dotnet in #159

[2014-11-17 19:50] esoekianto opened #162 "PHP: failed to send over long where statement"
Working with a user who use PHP proxy, the query request work in REST end point, without proxy and DOTNET proxy, but failed in PHP proxy with invalid where parameter error message.

Repro case at https://gist.github.com/esoekianto/860649657681560d8dd9

PHP test case
![php2](https://cloud.githubusercontent.com/assets/5265339/5076433/b24ff334-6e4f-11e4-8349-6d9fc302b482.png)

![php1](https://cloud.g

[2014-11-18 14:03] kelylah opened #163 "Java proxy don't want to work with some WMS"
### Java proxy.jsp gets empty response from [Polish National Geoportal](http://geoportal.gov.pl/en/start)

For example I can't getCapabilities through proxy from this site:

http://mapy.geoportal.gov.pl/wss/service/pub/guest/kompozycjaG2_BDO_WMS/MapServer/WMSServer?VERSION=1.3.0&REQUEST=GetCapabilities&SERVICE=WMS
### Solution:

Add _User-Agent_ property after line 181:

[code]

[2014-11-22 00:59] #155 closed, assigned to nobody

[2014-11-25 18:30] esoekianto opened #166 "JSP: allowed referer value can only work with this format "sub.domain.com""
it should be able to accept these format,

"sub.domain.com" - accept both http and https
"sub.domain.com/folder" - accept both http and https
"http://sub.domain.com" - accept only http
"https://sub.domain.com/folder" - accept only https
"//sub.domain.com" - accept both http and https

[2014-11-26 00:41] #125 closed, assigned to afili

[2014-11-26 00:45] #163 closed, assigned to esoekianto

[2014-12-02 17:01] xalikoutis opened #172 "JSP: After token expiration No new token is obtained"
The token expires but the proxy doesn't try to get a new token until is restarted. I  have setted the expiration time to 5 minutes is the jsp. See the logs token obtained at 2014 6:47:51 and after 5 minutes the web app requires my credentials

Δεκ 02, 2014 6:47:23 ΜΜ org.apache.jsp.proxy_jsp _log
INFO: [Info]: Service is secured by http://192.168.1.111:6080/arcgis/tokens: getting new token...
Δεκ

[2014-12-03 16:20] AdrianMarsden opened #173 "Random IE issue"
This is what is coming up at times in IE  - about 1 in 15 times

SCRIPT1015: Unterminated string constant
proxy.ashx, line 1 character 114
SCRIPT1015: Unterminated string constant
proxy.ashx, line 1 character 114
SCRIPT1015: Unterminated string constant
proxy.ashx, line 1 character 114
SCRIPT1015: Unterminated string constant
proxy.ashx, line 1 character 114
SCRIPT1015: Unterminated string constan

[2014-12-10 00:15] jwoyame opened #175 "Forward request headers"
To behave more like a "true" HTTP proxy, the scripts could forward all request headers from the browser which are not explicitly set by the script itself.

This would enable features such as:
- "If Modified" requests
- Partial range requests
- Cookies
- Better request logging on the destination server (e.g. User-Agent)

It would also help to prevent unforeseen issues and bugs, such as the (fixed)

[2014-12-17 14:03] RoelofJ opened #176 "Starting up the proxy"
Hi,

I installed the DotNet Proxy and I want to use it in both my development and testing environment. In development it works as expected, but on testing it doesn't. I copied all files from the DotNet Proxy to my testing environment, following this guide: https://developers.arcgis.com/javascript/jshelp/ags_proxy.html

When I try to reach anything through this proxy when it's on the testing enviro

[2014-12-22 18:20] esoekianto opened #177 "Support for ArcGIS Server 10.3"
DotNet and Java Proxy failed to get token to ArcGIS Server 10.3 with this error in the log file,

[code]

This is because ArcGIS Server 10.3 only supports POST request for token request and does not support username and password in query string , see this doc, http://server.arcgis.com/en/server/latest/administer/windows/acquiring-arcgis-tokens.htm

[2014-12-29 17:28] #144 closed, assigned to guo7711

[2014-12-31 06:31] bsvensson opened #180 "Consistent code & messages when no URL specified"
The messages, error code, and http status codes are not consistent.

[2014-12-31 06:43] bsvensson opened #181 "Update readme's about "ping""
See #144 and #131 which added "ping" capability for easy testing.

[2015-01-02 23:49] #180 closed

[2015-01-05 15:11] RoelofJ commented on #176
I had tested it with the same identity. Somehow we did resolve the problem now and it had to do with the identity given in the application pool not having access to the internet. We now put in another identity there with the access and that resolved the problem. I still don't know why it did work earlier with the 'standard' identity the IIS put in, but it works :) Thanks for all the help! :)

[2015-01-05 15:12] #176 closed

[2015-01-05 19:23] jgravois commented on #176
glad to hear i was able to point you in the right direction @roelofj.  thanks for taking the time to articulate the resolution.

[2015-01-05 23:51] vajnorcan opened #182 ""Already Connected""
just playing around with the JAVA proxy page, but when trying to reach some destination through this proxy I get an error "Already Connected". Any ideas what is happening and what shall I change? Map service that I'm trying to reach doens't require any token but it appears like it's still trying to get some..Thanks heaps.

<p>Problem accessing /cbd/proxy.jsp. Reason:
<pre>    Already connected</pr

[2015-01-06 00:17] esoekianto commented on #182
@vajnorcan can u specify in which scenario this behavior is happening? for example when making which request specifically?

I personally never had this error before in Java proxy, but from the error message it looks like there is Input or Output stream that don't get close properly.

[2015-01-06 00:43] vajnorcan commented on #182
I'm trying to send the POST request to one of our map services (geometry server, project endpoint). It fails on the "passHeadersInfo" while trying to set the key/value to the connection headers... "con.setRequestProperty" ... I haven't set any tokens/logins.

[2015-01-06 05:11] jgravois commented on #182
it'd be helpful to see the actual request (ideally captured using something like Fiddler)

[2015-01-06 05:48] bsvensson opened #183 "Remove invalid response header"
Reported at https://github.com/Esri/resource-proxy/pull/131#commitcomment-8743432

`response.setHeader("Accept-Encoding", "gzip");

This is a request header, not a response header.

[2015-01-06 05:52] #183 closed

[2015-01-06 06:06] #181 closed

[2015-01-06 06:16] bsvensson opened #184 "Consistent message when URL not in config"
The messages are not consistent across the three proxies.

[2015-01-06 15:01] #184 closed

[2015-01-07 04:10] vajnorcan commented on #182
if I comment in "passHeadersInfo(request, con);" it works ok.

*** Request headers ***

Key	Value
Request	POST /cbd/proxy.jsp?https://<some address>/Geometry/GeometryServer/project HTTP/1.1
Accept	*/*
Accept-Language	en-au
Referer	http://localhost:8050/cbd/
x-requested-with	XMLHttpRequest
Content-Type	application/x-www-form-urlencoded
Accept-Encoding	gzip, deflate
User-Agent	Mozilla/5.0 (Windows N

[2015-01-07 07:45] bsvensson commented on #182
There is no server name in your request:

`Request POST /cbd/proxy.jsp?https:///Geometry/GeometryServer/project`

That doesn't seem right...

[2015-01-07 17:05] laythg opened #185 "DotNet proxy times out after some time in ArcGIS 10.3"
The proxy works ok after issue #177 was resolved.  However, after an hour or so calls to the proxy return a error 498, invalid token.  Restarting IIS or recycling the Worker assigned to the Proxy web app makes it start working again for another hour.

Possibly a short-lived token not being renewed or something?

[2015-01-07 17:21] esoekianto commented on #185
@laythg I remember we had similar issue before, can you check if you have this line in the proxy.ashx? https://github.com/Esri/resource-proxy/blob/master/DotNet/proxy.ashx#L375

[2015-01-07 18:26] laythg commented on #185
Yes Irwin, I have that line in the version I'm using.  I am running the version of the proxy I got directly from you.

[2015-01-08 00:05] vajnorcan commented on #182
nah.. I've renamed the server name to <my server name> and it got removed!

[2015-01-15 15:33] rjsibar opened #187 "JSP: ERR_INVALID_CHUNKED_ENCODING"
Hi guys,

I'm having an issue with the java proxy. Anytime I add it to access AGS resources it's throwing an "ERR_INVALID_CHUNKED_ENCODING". I saw a similar issue with the PHP version that was fixed. Any idea in how to tackle this in the Java version?

[2015-01-16 23:27] MikeTschudi commented on #185
Found two cases where proxy stopped working after a block of time:
1. Geoenrichment service returns formatted invalid token error code, which includes spaces that aren't recognized when proxy.ashx tries to catch this case, so token doesn't get reauthorized.
2. The cast ```ConcurrentDictionary<string, RateMeter> ratemap = (ConcurrentDictionary<string, RateMeter>)context.Application["rateMap"];``` i

[2015-01-17 18:35] laythg commented on #185
Actually I was able to fix the issue (I think).  Haven't seen it for a while.  The issue is that (in my install anyway) when the token times out in ArcGIS 10.3 is is returning the ArcGIS REST API Login page.  So I modified the code in fetchAndPassBackToClient() to look like this:

                        if (
                            !ignoreAuthenticationErrors
                            && st

[2015-01-21 01:28] laythg commented on #185
An update.  When using this proxy against a 10.3 Server, the first request for a token works.  However, once that token expires and it tries to renew, Server is returning an error message.  Here is the log results for the renewal exchange:

w3wp.exe Information: 0 : 2015-01-21 01:18:58 Sending request!
w3wp.exe Information: 0 : 2015-01-21 01:19:04 https://www.irmdgisdev.org/arcgis/rest/
w3wp.exe I

[2015-01-21 09:57] slead commented on #181
The proxy.php file is working correctly for me, but I can't get the ?ping to work.

https://github.com/Esri/resource-proxy/blob/master/PHP/README.md says "Test that the proxy is installed and available: http://[yourmachine]/PHP/proxy.php?ping" but this just returns 403:

"The proxy tried to resolve a URL that was not found in the configuration file....."

I also can't see "ping" anywhere inside pr

[2015-01-21 14:53] bsvensson commented on #181
@slead - The ping capability was added on November 26, 2014 - see the commit history https://github.com/Esri/resource-proxy/commits/master/PHP/proxy.php

[2015-01-21 23:56] slead commented on #181
@bsvensson thanks. it's a bit confusing because https://github.com/Esri/resource-proxy recommends the released version, but this doesn't include the ping

"Instructions: Download and unzip the .zip file or clone the repository. You can download a released version (recommended) or the most recent daily build."

[2015-01-22 00:33] jgravois commented on #181
i agree.  we should probably either tag a new release or remove the instructions from the documentation.

[2015-01-22 00:41] slead commented on #181
FWIW I think the ping is a good way to verify that it's working. Thanks guys

[2015-01-22 20:15] jwoyame opened #188 "Slow enumeration of system proxies"
See comments for pull request #168.

A feature added by pull request #168 allows the DotNet proxy script to query the system's Web proxy settings. This is necessary for some servers that have a system proxy assigned.

However, it appears that looking up the local proxy settings adds several seconds to every request made to the script, at least on my server that has no proxy specified. A potential

[2015-01-24 12:06] lvdburgt commented on #188
Agree with your comment. Thanks for looking into this!
I fetched that latest version of the .NET resource proxy and immediately noticed that proxy requests take considerably longer. Requests which should take 100s of ms now take more than 2 seconds.

After commenting out the line
req.Proxy = System.Net.HttpWebRequest.GetSystemWebProxy();

The proxy request times were reduced, so now I can use this

[2015-01-26 16:51] bsvensson commented on #188
@jwoyame - I too see the same slow down when testing on one machine.  Do you want to submit a pull request with your code suggestion in #168 comment?

[2015-01-26 18:34] bsvensson opened #189 "matchAll="false" not working for PHP proxy"
The php proxy is a a little confused on on the matchAll/matchall casing of this serverUrl property.  DotNet and JSP only supports the matchAll casing.

Test:

    http://localhost/proxytesting/PHP/proxy.php?http://www.example.com/index.html

with the following in the config:

    <serverUrl url="//www.example.com/" matchAll="false" />

It should fail, but doesn't for php proxy since it's confused

[2015-01-26 18:47] #189 closed

[2015-01-26 18:49] phpmaps commented on #189
@bsvensson Is the top level mustMatch set to true or false?

Also help me understand, this b/ I don't currently understand why this is a defect.  If someone configures the proxy and says ````matchAll=true```` that means they assert that any URL in the serverUrl list needs to match the characters in incoming URI.

Therefore, when ````false```` isn't that like saying I don't care if the parts of the

[2015-01-26 19:15] hgonzago opened #190 "PHP proxy fails to pass back full response"
This came about when trying to use the most recent PHP proxy against the basic directions Javascript sample. Swapping out the proxy file with the PHP one on my machine (OSX Mavericks, and then Yosemite) and adding my credentials to the config file. When running the same everytime i would get an "Undefined token error" and after checking the response back from the route service via the proxy, it wa

[2015-01-26 19:26] bsvensson commented on #189
@phpmaps - In my test I had `mustMatch="true"`.

Those two property names can be a bit confusing.

* mustMatch (on the root tag) is about whether to only allow URLs listed as serverUrl in the proxy.config to be proxied.

* matchAll (on the serviceUrl tag) is about whether to match an exact serviceUrl or also all other requests that begin with that serviceUrl.  Think of matchAll as "match-this-and-

[2015-01-27 01:58] bsvensson opened #191 "Support federated services that are missing the tokenServicesUrl"
Problem: proxy doesn't work with analysis.arcgis.com.

When using username/password to access secure ArcGIS servers, the proxy looks in the server rest/info for the "tokenServicesUrl" to use.
http://resources.arcgis.com/en/help/arcgis-rest-api/#/Server_Info/02r300000116000000/

[As of 10.1 SP1](http://resources.arcgis.com/en/help/arcgis-rest-api/#/What_s_new_in_the_ArcGIS_REST_API/02r3000000q60000

[2015-01-27 02:07] bsvensson commented on #158
Closing this issue since the problem seemed to be specific to one service and not reproducible.

[2015-01-27 02:07] #158 closed

[2015-01-27 18:09] bsvensson commented on #173
Closing this issue since it doesn't seem to be reproducible.  If you have more info, feel free to re-open.

[2015-01-27 18:09] #173 closed

[2015-01-27 18:10] bsvensson commented on #156
Closing this issue since it doesn't seem to be reproducible.  If you have more info, feel free to re-open, or contact Esri Support for more direct help.

[2015-01-27 18:10] #156 closed

[2015-01-28 04:41] phpmaps commented on #190
The issue appears to be related to older GZIP concerns.  As PHP interrogates GZIP'ed resource responses (looking for 403 failures and errors) it decompresses the data.   I believe in some cases the proxy brokers the response equal to the Content-Length size (of the gzip'ed response) instead of calculating a new Content-Length size based on the decompressed data.  Since one goal is to proxy content

[2015-01-29 16:06] kodokpintar commented on #11
I got that exactly error when I did ping test. I am using IIS 7 and there is no issue on permission. Can anyone give advise?

Thanks.

[2015-01-29 16:14] jgravois commented on #11
@kodokpintar did you manually create a proxy_log.log file?

[2015-01-29 16:22] phpmaps commented on #11
@kodokpintar when you say "there is no issue on permission" would you take a another troubleshooting step and share the name of the folder that that proxy.php file lives in (so we have something concrete to talk about and then describe what type of permissions are on the folder?   The proxy should create the file for you if you have the correct permission... doing what @jgravois  says should work

[2015-01-29 17:13] kodokpintar commented on #11
@jgravois  I tried two things, first I didn't create proxy_log.log file, I got from package (downloaded). Second, I removed the proxy_log.log file from the folder ...\resource-proxy-1.0\PHP\. It didn't create that file when I ran this,

http://localhost/dev/resource-proxy-1.0/PHP/proxy.php?ping.

It threw me this error:

{"error":{"code":412,"details":["Detected malformed 'logFile' in the configur

[2015-01-29 21:09] hgonzago commented on #11
If you get this error, go into the folder housing the proxy files and create a new empty proxy_log.log file. Make sure that this file and the folder containing all the proxy files (including log) are read/write. To test this, you can run the proxy verification test to make certain.

[2015-01-29 21:10] hgonzago commented on #190
@phpmaps - Awesome, thanks so much for digging into this and figuring out the issue.:-)

[2015-01-29 21:57] kodokpintar commented on #11
I ran the proxy-verification.php but still It didn't return any result. I can see from my browser - Developer tools that it returned 200 OK.

[2015-01-29 22:33] phpmaps commented on #11
@kodokpintar  - when you ran the proxy-verification.php file by opening it in the web browser.. did it display raw code or display a web page with formatted HTML.  If the former that would result in 200 OK but indicate that your server is not provisioned with PHP.  What version of PHP are you running?

[2015-01-29 22:40] phpmaps commented on #190
See #193

[2015-01-30 00:21] driskull commented on #190
I'm running into this one as well with PHP.

[2015-01-30 00:26] phpmaps commented on #190
@driskull  Have you tried this new proxy.php file awaiting a merge?  I am very hopeful that this fixes the issue.  I suspect that this one line will make a big difference in preventing truncation.

https://github.com/phpmaps/resource-proxy/blob/patch-1/PHP/proxy.php#L576-578

[2015-01-30 00:27] driskull commented on #190
Yes I did and it does work.

[2015-01-30 16:16] kodokpintar commented on #11
@phpmaps it didn't display any raw code, it just displayed blank page.
I could run check.php and came up with result, PHP version 5.6.5 and all information, like: configuration, bcmath, calendar, cgi-fcgi, core, ctype, etc

[2015-01-30 16:43] phpmaps commented on #11
@kodokpintar - Were you running check.php out of the same web directory as the proxy.php file?  I suggest this create a file called phpinfo.php and include below few lines of code.  Next put the new phpinfo.php file in the same directory as proxy-verification.php and proxy.php files.  Then run phpinfo.php from your web browser - and take a screen grab and share it.

[code]

Proxy-verification.php

[2015-01-30 21:22] kodokpintar commented on #11
@phpmaps  Please find below the screenshots from phpinfo.php. Thanks!

![image](https://cloud.githubusercontent.com/assets/10455329/5983538/c5bd6432-a893-11e4-9507-9e53fe4c5002.png)
![image](https://cloud.githubusercontent.com/assets/10455329/5983500/8260c24c-a893-11e4-8af1-214eaafe602c.png)
![image](https://cloud.githubusercontent.com/assets/10455329/5983505/8c035bb6-a893-11e4-997c-fd3c6465daa0.p

[2015-01-30 21:26] kodokpintar commented on #11
Here is the error when I ran Test Proxy

![image](https://cloud.githubusercontent.com/assets/10455329/5983584/467a99be-a894-11e4-90b9-e4042ba2172f.png)

[2015-01-30 21:35] phpmaps commented on #11
I am not seeing PDO_Sqlite and cURL.  Do you have PDO Sqlite and cURL as part of your PHP configuration?  As for this last screen shot showing the error, try setting ````mustMatch```` to ````false```` and make sure you have a ````*```` in the ````allowedReferers```` property and then share your proxy.config file in this thread.

We are getting a little away for the initial issues which was about t

[2015-02-02 15:38] kodokpintar commented on #11
@phpmaps please find below two screenshots that showing:
1. pdo_sqlite and curl DLLson PHP extn folder.
![image](https://cloud.githubusercontent.com/assets/10455329/6003120/9ccd19aa-aabe-11e4-8a9e-adf112b7e866.png)

2. proxy.config configuration
![image](https://cloud.githubusercontent.com/assets/10455329/6003139/ba744eba-aabe-11e4-8bc3-d45c1c2fc676.png)

yes, it's strange. I can run php version a

[2015-02-02 19:49] bsvensson opened #194 "Inconsistent mustMatch behaviors between proxies"
Currently, the default behavior between proxies is not consistent.
- [ ] For php, mustMatch is a required field (see its canProcessRequest function). But not for DotNet and JSP.
 -> I don't think it should be a required field.
- [ ] For JSP, a bad value for mustMatch, sets it to "false". For PHP/DotNet, it checks for booleans.
 -> I think JSP should either default to "true" or check for valid bool

[2015-02-02 19:54] bsvensson commented on #194
Also
* [ ] DotNet and JSP both defaults to `false`.
-> I think it would be better from a security perspective if they default to `true`.

I'll update the first comment with this.

[2015-02-02 23:36] phpmaps commented on #11
Thanks that is good feedback.  I went and tested on Windows.  My IIS directory security looked like this in the folder containing the proxy.php file.

![image](https://cloud.githubusercontent.com/assets/2159502/6011408/422dd868-aaf0-11e4-8759-e12fb5db96ac.png)

Notice IIS_IUSRS has write access.  When it did not have write access - I saw the problem you reported involving the log.  Additionally, I

[2015-02-03 16:42] phpmaps opened #196 "PHP proxy-verification.php should not check for Open SSL"
This extension is not required to run the PHP proxy.

[2015-02-03 17:21] kodokpintar commented on #11
@phpmaps  THANKS SO MUCH!!! Finally it works!. Two things that I would like to share from my issue:
1. Permission on IIS, somehow it didn't like the permission although I verified IIS_IUSRS had full permission, I made the change on IIS by Adding Web Site (PHP Application) and connect as administrator in app pool.

2. As you suggested to enable cURL and Sqlite by removing semicolons AND I also adde

[2015-02-03 17:36] yeroc opened #197 "Java proxy should be re-written as a Servlet rather than a JSP page."
The proxy does not use any templating capabilities of JSP so is a really poor fit as a JSP and should be written as a Servlet.  This would make the code much easier to follow.

[2015-02-03 19:06] driskull commented on #190
Actually, it doesn't work for me. It did for a while but now it isn't.

[2015-02-03 19:14] phpmaps commented on #190
@driskull  A couple of questions.  Are you testing with this source here https://github.com/phpmaps/resource-proxy/tree/patch-1 ?  Second, what type of server are you using when testing?  Lastly, if you see the problem again, can you post the HTTP Response headers in this thread.

The good news is @bsvensson has yet to merge this in b/ he say duplicate headers which I think were specific to a Wind

[2015-02-03 22:07] hgonzago commented on #190
@phpmaps Not sure if the duplicate headers were specific to Windows IIS or Windows APache. Pretty sure I saw it on my end using Apache on my Mac OS.

[2015-02-03 22:10] driskull commented on #190
It seems to be working now. I'll see if i can reproduce it again.

[2015-02-03 23:00] bsvensson commented on #190
@driskull - make sure it wasn't an issue due to expired-token not being renewed - #146.

[2015-02-03 23:46] driskull commented on #190
I ran into the expired token on .Net version. PHP seems to be working but i'll keep an eye on it.

[2015-02-05 08:43] ynunokawa opened #198 "The proxy ignore to set App ID and App Secret in an access to secured web map"
I would like to access a secured web map using Application Authentication via the proxy but it ignore...
If it correctly run, web app should access without requiring a login and not show a dialog to sign into the portal. However, it correctly run in the case of accessing a public web map with secured layers.

![access_to_securemap_via_proxy](https://cloud.githubusercontent.com/assets/3479935/60571

[2015-02-05 17:51] jgravois commented on #198
there are [documented](https://github.com/Esri/resource-proxy/blob/master/FAQ.md) limitations with regard to accessing private content in ArcGIS Online via app logins.  please let us know if something prohibits you from leveraging user credentials in a scenario like this.

[2015-02-05 17:55] jgravois opened #199 "link to FAQ.md in projects root README"
currently you have to browse the repos content directory to find the FAQ.  would be helpful if we linked to it from the homepage.

[2015-02-05 18:24] bsvensson commented on #199
Sounds like a good idea. Will you submit a pull request (or should I)?

[2015-02-05 18:25] jgravois commented on #199
i'll submit shortly.

[2015-02-05 18:28] bsvensson commented on #198
@nuno0825 - It's by design for security reasons.  You can use the resource-proxy with appid to connect to platform services or public items.  To access private services, you would need to use username/password.

See also:
* https://github.com/Esri/resource-proxy/blob/master/FAQ.md
* https://developers.arcgis.com/authentication/accessing-arcgis-online-services/ and https://developers.arcgis.com/aut

[2015-02-06 00:20] nuno0825 commented on #198
There is a difference of the contents between the FAQ in GitHub and the documents as "Limitations of Application Authentication" in ArcGIS for Developers page.

https://github.com/Esri/resource-proxy/blob/master/FAQ.md
https://developers.arcgis.com/authentication/limitations-of-application-authentication/

The document of Limitations of Application Authentication say "If a user has private content

[2015-02-06 01:13] bsvensson commented on #198
After looking into this more ... I was wrong. You are correct, the proxy should be able to access (in read-only mode) items that the appId user owns (but not things shared to that user).  I'll re-open this issue for more investigation.

[2015-02-06 01:20] bsvensson commented on #197
@yeroc - thank you for the feedback.  I too think that the code isn't very easy to follow.  But 'm not sure changing it to a Servlet would necessarily make the code easier to follow.

As for whether it would have been better to use a servlet from the beginning, that's a different topic. We don't have any plans for rewriting it as a servlet.

[2015-02-06 01:20] #197 closed

[2015-02-06 21:09] tr3vorm opened #200 "Using the proxy to filter requests securely"
I have been looking at using the proxy (ASP.Net) to set layer definitions, as a way to securely filter map services based on the current user id. I currently do this from the client end in javascript but this is visible to anyone that wants to look at the requests.

I need to look at the service name, action (export/find/identify) and rewrite/create the layerDefs query parameter for the relevant l

[2015-02-07 22:23] tr3vorm commented on #200
This (basic example below) worked perfectly (adding my `layerDefs` in the proxy) until I went to use a print service. Since I had moved my queries to the proxy, the client has no knowledge of layer definitions so the print service printed unfiltered layers. I am guessing that I could rewrite the print server (post) request too but that looks more difficult.

[code]
The overall goal is to use a sin

[2015-02-07 22:23] #200 closed

[2015-02-08 04:20] jgravois commented on #200
i must confess that i don't really understand the benefit of 'securely filtering map services' when you end up drawing the output for the client, but i'm sure you have your reasons.

you can find the proxy's method for firing requests (GETs and POSTs) [here](https://developers.arcgis.com/javascript/jssamples/query_bypoly.html), and you can find an example of calling it and supplying POST content [

[2015-02-08 05:06] tr3vorm commented on #200
Thank you @jgravois, I don't think I explained this very well. The output is determined by the current user context in my web mapping application. So, a single mapservice partitioned by project/user role. Rather than put the layer definitions (determined at runtime by userid) in to the client where they can be seen, I was exploring the options for setting the layer definitions in the proxy so they

[2015-02-09 17:11] jgravois commented on #200
thanks for clarifying.  makes a lot more sense now.

[2015-02-10 09:53] nuno0825 commented on #198
Thanks for the cooperation. I am waiting for your response.

[2015-02-11 03:03] slead opened #202 "Proxy is logging users out of Esri Geoportal Server"
I'm seeing a problem whereby passing a query to the Esri Geoportal Server's REST API, via the Esri Resource Proxy, is causing users to be logged out of the Geoportal.

I can reproduce the problem like this:

- install the Esri Geoportal Server on Windows using IIS
- install the Esri Resource Proxy on the same machine
- log in to the Geoportal (eg http://localhost:8080/geoportal/catalog/identity/lo

[2015-02-11 03:48] bsvensson commented on #202
That seems rather strange.  Not that I think it matters, but which version of the PHP proxy are you using?

Does the same thing happen if you use a computer name instead of localhost in one of the tabs?

Could you try the DotNet proxy?

[2015-02-11 03:53] phpmaps commented on #202
@slead @mhogeweg - Looking into this really quickly I notice the gptogc.esri.com ````Geoportal```` leaves behind a ````cookie```` when you load this page http://gptogc.esri.com/geoportal/catalog/main/home.page  .  Frequently cookies are responsible for persisting a logged in session.  I've been looking closely at how the php version of the resource-proxy preserves headers.  Can you test this proxy

[2015-02-11 04:54] slead commented on #202
@phpmaps thanks for the pointers - the cookie definitely sounds like the cause of the problem.

Unfortunately the patch-1 version of the PHP script didn't help - the session is still cleared.

I'm not sure what the difference is with the gptogc.esri.com installation - I installed my version as per the instructions at http://www.esri.com/library/whitepapers/pdfs/how-to-set-up-geoportal-server-122.p

[2015-02-11 05:12] slead commented on #202
I can also confirm that the patch-1 proxy does not log me out of a session at http://gptogc.esri.com

sample request: http://localhost/resource-proxy-patch/PHP/proxy.php?http://gptogc.esri.com/geoportal/rest/find/document?f=pjson

So it appears the problem (possibly) only occurs when the proxy is on the same domain as the geoportal.

Does that help to narrow down the cause?

[2015-02-11 05:54] phpmaps commented on #202
@slead - I am of the mind that the two should play nice on the same server.

 Do you know the login credentials to http://gptogc.esri.com?  Are you using LDAP security or something else on your localhost?  Its possible that the underling security protocol is restricting access b/ the request is coming from a different place and the resource-proxy does not know how to make the handshake.

If you wa

[2015-02-11 06:09] slead commented on #202
@phpmaps I'm not entirely sure what to look for, but these stand out:

without using the proxy (http://localhost:8080/geoportal/rest/find/document?f=pjson) the header includes:

`Cookie:JSESSIONID=F17CB139CEB630B7462F3A9378B6DC12; JSESSIONID=46EB87BD31842F4EA99F29AF91DD8316; PHPSESSID=efuhc629e68nhk06iitss9pph3`

with the proxy (http://localhost/resource-proxy-patch/PHP/proxy.php?http://localhost:

[2015-02-11 06:31] phpmaps commented on #202
Thanks.  This is good info.  I assume these are response headers?  It would be good to see everything.  For example, set 1 showing request and response headers showing what works not using proxy and set 2 showing request and response headers of what fails using the proxy.  Make sure the query stays the same to make things easiest.

I am not very familiar with geoportal security except recall there

[2015-02-11 08:10] bsvensson commented on #198
@nuno0825 - the problem is that the proxy is using a server token instead of a portal token when accessing the item. The code needs to be updated to be smart for appId and to know when to use a portal token (for /sharing/rest) and when to use a server token (for platform services like traffic and geoenrichment).

A quickfix IF you're only using your proxy for this purpose is to comment out

    to

[2015-02-11 09:47] slead commented on #202
OK here goes:

A direct request to http://localhost:8080/geoportal/rest/find/document?f=pjson

Remote Address:[::1]:8080
Request URL:http://localhost:8080/geoportal/rest/find/document?f=pjson
Request Method:GET
Status Code:200 OK

**Request Headers**
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate, sdch
Accept-Language:en-US,en;q=0.8

[2015-02-11 21:46] slead commented on #202
@phpmaps here is some info I received from the Geoportal Server team:

_Geoportal Server uses Java sessions on the app server, a client identifies its session through an HTTP cookie named JSESSIONID. If the client does not supply a JSESSIONID cookie, it is assumed to be a new session and the server’s HTTP response will include a SET-COOKIE parameter for the new JSESSIONID. Maybe the proxy does not

[2015-02-11 22:30] slead commented on #202
However... when using the gptogc.esri.com Geoportal, the same pattern is seen with the proxy request setting the JSESSIONID cookie - but in this case the user is **not** logged out.

* log in to http://gptogc.esri.com/geoportal (you can use testing123/password)
* in a new tab, send a search via the proxy using http://stephenlead.com/esri-proxy/PHP/proxy.php?http://gptogc.esri.com/geoportal/rest/fi

[2015-02-11 22:32] phpmaps commented on #202
@slead - my attention is on this request header sent through the proxy
```` Cookie:PHPSESSID=efuhc629e68nhk06iitss9pph3 ````

verses this header which is seen when the proxy is removed
```` Cookie:JSESSIONID=F17CB139CEB630B7462F3A9378B6DC12; JSESSIONID=46EB87BD31842F4EA99F29AF91DD8316; PHPSESSID=efuhc629e68nhk06iitss9pph3 ````

I am not sure what is the proper protocol.  Part of me thinks sending

[2015-02-11 22:40] phpmaps commented on #202
@slead  looks like you typing as I was typing and noted that ````http://gptogc.esri.com```` proxy case sends this ````Cookie:JSESSIONID=F17CB139CEB630B7462F3A9378B6DC12;````.

I guess the only way to test your theory is to try using a resource-proxy from a different server.

Here is an older version of the PHP proxy - but is should be close enough to test your theory...

http://54.82.255.206/ogc/p

[2015-02-11 22:46] slead commented on #202
The problem is that the 54.82... proxy can't see my localhost Geoportal, so I can't test using this(?)

http://54.82.255.206/ogc/proxy.php?http://localhost:8080/geoportal/rest/find/document?f=pjson returns `{"error":{"code":502,"details":["cURL error (7): Failed to connect to localhost port 8080: Connection refused."],"message":"Proxy failed due to curl error."}}`

Using the proxy at http://stephe

[2015-02-11 22:52] phpmaps commented on #202
Yes.  I believe you can create a subdomain on your IIS box.  For example Geoportal on port 80 and the proxy on port 85 (a different subdomain).   That I believe would do the trick since http://54.82.255.206/ogc/proxy.php cannot reach your machine.

[2015-02-11 23:05] slead commented on #202
I'll give that a try - but I would ideally like to be able to handle this in the proxy itself, to keep things easier for clients (who may not have the ability to put the proxy on a separate domain).

A clever friend said "When they are both on the same domain, the cookie is being overwritten. The proxy needs to forward on the entire header that the browser would make".

Does that help, and is that

[2015-02-11 23:26] slead commented on #202
Bingo! Putting the proxy onto a separate subdomain on localhost avoids the problem. I'll use this as the workaround for now, but it would be great if you can fix this within the proxy itself.

Many thanks for the help in debugging this one.

[2015-02-11 23:29] phpmaps commented on #202
@slead Great thanks.  Would you take a moment to share the headers, aka the full request and response headers now that you are running the proxy on a different subdomain.  (like you did above) That would be good info to capture.

[2015-02-13 04:44] nuno0825 commented on #198
@bsvensson - Thanks for the information. The proxy was able to access secured map after the part of the issue in proxy.ashx was commented out.
FYI It is necessary to comment out the if statement also. But I confirmed only the DotNet proxy.
[code]
I'm looking forward to the completion of report.

[2015-02-15 05:36] gobsmack opened #203 "PHP: 499 for Tile Requests Only?"
I'm trying to switch from the .NET proxy to the PHP proxy. Everything works great in .NET. Using the PHP proxy, requests to service endpoints are fine. But, requests to cached tiles are failing. Actually, the requests pass for a few minutes, and then begin failing.

All my checks are passing in the verification script (which is a very cool feature). There's nothing informative in the log. There ar

[2015-02-16 23:24] hgonzago commented on #203
Are you using the most recent version of the PHP file? Also, how are you accessing these tiled services? Are they secured in AGO and you are accessing them via Oauth token authentication with a client id and secret saved in the proxy configuration file? Or are you accessing them with username/password credentials?

The more details you can give on how the app is accessing these tiles, the better.

[2015-02-19 02:54] hgonzago commented on #190
I'm seeing some weird stuff with this @phpmaps @bsvensson  -

if using a JSAPI app and have it set to esriConfig.defaults.io.alwaysUseProxy = true; instead of urlUtils.addProxyRule({
          urlPrefix: ...

I end up getting the proxy duplicated in the request URL header and therefore get a 403 forbidden error saying it can't access this.

eg.
http://heatherg.esri.com/proxy/proxy.php?http://heath

[2015-02-19 04:26] hgonzago commented on #190
@phpmaps I'm dreading this but it looks like this problem reared it's nasty head again.

I'm on a brand new machine. Just got it today so no crazy configuration settings or anything. Using default PHP and apache that comes with the Mac OSX. Took the latest version you currently have up and tried using this to proxy app credentials to run the directions sample located here,

everytime I try to run

[2015-02-19 04:38] phpmaps commented on #190
Ok.  Good to know and disappointing to hear.  Would you say this issue is intermitent?  Also just to confirm are you still using the code in this pull request and not the master?  Also if it happens again can you post response headers?

[2015-02-19 04:44] hgonzago commented on #190
I just now realized I think I did a copy and paste from the master for something else I noticed last week so wanted to make sure I was looking at the right stuff. I just grabbed the pull request and now no more truncation. I need to go back though and look at what I was testing last week because I can't remember why i got rid of what you sent me originally. Maybe I thought that the pull request wa

[2015-02-19 18:16] bsvensson commented on #190
The #193 pull request has now been merged in and hopefully fixes the original issue (truncated responses).

@hgonzago - please test using master branch, then close this issue if ok.

[2015-02-19 19:44] #188 closed

[2015-02-19 19:44] bsvensson opened #205 "JSP: set Content-Type to json for errors"
Tomcat by default serves HTML files with Content-Type=text/html (no charset portion).

When we return JSON we should set the Content-Type to JSON. We already do this for "ping", but not for error responses.

Test `http://localhost:8080/Java/proxy.jsp?oops` or `http://localhost:8080/Java/proxy.jsp`

[2015-02-19 19:55] bsvensson opened #207 "PHP shouldn't set Content-Type unnecessarily"
PHP, by default, always returns the following header:
 "Content-Type: text/html"

To avoid this being sent, the code could use
 header( 'Content-Type:' );
when the proxied response does not return a Content-Type.

Ref: http://php.net/manual/en/function.header.php

Compare
`curl http://httpbin.org/status/418 -I`
- which doesn't return Content-Type

with
`curl http://localhost:81/PHP/proxy.php?http:

[2015-02-19 20:00] esoekianto commented on #205
fix at #206 , the same behavior was also observed in other java web server (I tested on WebSphere too)

[2015-02-19 20:00] #205 closed

[2015-02-23 02:05] hgonzago commented on #190
Thanks, grabbed from master and everything seems to be working ok. Thanks:-)

[2015-02-23 02:05] #190 closed

[2015-02-25 21:29] orossini opened #208 "App Login does not work with Portal for ArcGIS 10.3"
Trying to access a webmap containing basemap and a feature layer fails.
The access is granted to the webmap (and if the basemap is not secured it is loaded), but when the app tries to load the feature layer, the access to the feature layer is denied: {"error":{"code":498,"message":"Invalid Token","details":[]}}
Any access to a Portal 10.3 hosted webservice is denied with the same error.

Has anyon

[2015-02-25 21:43] hgonzago commented on #208
@orossini - which proxy are you using?

Also, you may want to take a look at an existing issue, #198

Does this look familiar?

[2015-02-26 09:44] orossini commented on #208
Thanks for your answer.

I'm using the DotNet proxy.
Please also note that I'm using Portal / ArcGIS Server 10.3.
(I've tested the proxy with ArcGIS Online and it works perfectly)
The issue is that the service used in the webmap cannot be accessed. It ends with a Invalid token error. the token is generated but is invalid.
so the access to the secure webmap is granted but any private ArcGIS server

[2015-02-26 15:56] hgonzago commented on #208
@bsvensson @afili @jgravois

including you three in this as I haven't tested this on Portal 10.3 yet. Anyone tried this?

[2015-02-26 19:20] afili commented on #208
I have tested with a Portal Federated with ArcGIS Server 10.3 and it works for me. There was an issue with 10.3 where the proxy was trying to send a request to generate the token using the GET method and ArcGIS Server 10.3 would not allow it since it was expecting POST. @esoekianto fixed it and submitted a pull request which is merget but the fix is not included in the released version yet. It can

[2015-03-01 22:33] tr3vorm opened #210 "Password with a '?' not handled"
After upgrading to 10.3 I discovered that one of our passwords was not being accepted as a valid credential because it contained a "question mark". I updated to the current build of the proxy.ashx (.Net) to get around another AGS 10.3 bug but it looks like my problem is caused by the proxy treating the '?' as a query delimiter.

I have changed offending passwords, but it may be worth fixing this.

[2015-03-02 22:45] esoekianto commented on #210
@tr3vorm thank you for submitting this, I can reproduce the same issue and patch a fixed for this #211

If you have time , can you test this fix for me? Thanks

[2015-03-02 23:00] tr3vorm commented on #210
Works now thanks. Apologies for not trying to fix this myself. Was easier to just change the password :-)

[2015-03-02 23:00] #210 closed

[2015-03-02 23:02] esoekianto commented on #210
@tr3vorm not a problem, the proxy needs to be able to handle this anyway

[2015-03-02 23:21] esoekianto commented on #210
JSP version of this fixed #212

[2015-03-03 18:25] esoekianto commented on #185
@laythg I can reproduce the same issue using Java proxy accessing 10.3. We will investigate this further.

[2015-03-03 20:03] laythg commented on #185
Irwin,

It was related to having a query string as part of the URL when the the
token is renewed.  I can send you the modifications I made to fix my issue.

Layth

°o°
On Mar 3, 2015 12:26 PM, "Erwin Soekianto" <notifications@github.com> wrote:

[2015-03-03 20:47] esoekianto commented on #185
@laythg oh please send it to us or make pull request

[2015-03-04 09:41] majales opened #213 "Support for basic auth under https and custom port"
Hi,
I tried to use resource proxy for remote wms server on secure https website protected by basic auth and had no luck. I'm allways getting error 500 in log. Is there any chance that resource proxy would support this auth and custom https port?

[2015-03-06 14:51] MrPaulg opened #214 "proxy.jsp - 498"
Hi,
apologies for the non technical syntax of this issue I'm having, and if I have posted in the wrong location, please feel free to move or remove my post.
I have used the 'latest release' and the 'master' version of proxy.jsp, I have had issues with both but have persevered with the master version. It works once you only use the www.mydomain.com or “*” referrers, it refuses to use application ur

[2015-03-09 16:55] taran03 opened #216 ".NET Proxy - ESRI pop up attachment link redirects to REST Login"
I have a JavaScript web map with pop up widget info window functionality.  The attachment links display as intended within the pop up window, but when the user clicks on the attachment link the URL is calling for a redirect that requires the user to authenticate with our ArcGIS REST endpoint in order to see the attached image. Of course, the attachment links work fine if the service is public. I'm

[2015-03-10 17:24] tduerkop opened #217 "Internal URL being utilized on post for token for secure service"

[2015-03-10 18:31] #217 closed

[2015-03-11 03:32] Murkor opened #218 "ArcGIS Online SSL enabled fail to consume http:"
We have implemented SSL in ArcGISOnline against a domain (SSL enabled: this is a our client's policy they must use SSO).  We have deployed an app on ArcGIS Online, the webMap has security service hosted in the AGS (certificates work properly) and others free services hosted outside of the organization (government's services).  This solution arise an issue because all calls to services are sending

[2015-03-12 20:53] jgravois commented on #216
you are able to indicate to the JSAPI to utilize a proxy when accessing individual services via AJAX requests, but this is different than expecting it to intercept generic `<a href>` links in the DOM.

i know that's not the most helpful information in the world, but the proxy can't field a request that doesn't get directed at it.

[2015-03-12 21:04] jgravois commented on #218
it sounds as if you'd like calls to your proxy over HTTPS to fetch HTTP resources and present them back to the end-user as if they were hosted with SSL/TLS (to bypass mixed-content warnings in the browser).  AFAIK, this is not a usage we intend to support.

check out [this blog]()http://blogs.esri.com/esri/arcgis/2015/03/11/sharing-web-gis-services-always-enable-tls/) for more information.

[2015-03-16 19:57] michaelschnack opened #220 "Unable to connect to remote server"
Had this working on IIS 7 & Windows server 2008.  But now on IIS 8.5 & Windows Server 2012, the error returned is:
{error: {code: InternalServerError,message:"Unable to connect to the remote server http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson"}}

I have installed .NET 4.5, and tried changing the web.config to targetFramework="4.5"

[2015-03-16 20:16] esoekianto commented on #220
@michaelschnack can u try open this url "http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson" in the web browser in the server?

I suspect the server can not access this url "http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson"

[2015-03-16 20:17] michaelschnack commented on #220
I am able to connect directly to the URL.

[2015-03-16 20:39] esoekianto commented on #220
@michaelschnack can you try to proxy to some internal url? preferably ags server that is in the network.

the next step for this would be to check the user of the application pool that the proxy is using in IIS. I remember we had weird issue with .NET 4.5 in Windows Server 2012, can you try .NET 4.0?

[2015-03-16 20:55] michaelschnack commented on #220
Proxy to internal server does work, thank you.

[2015-03-16 20:58] jgravois commented on #220
@michaelschnack logging a call through our standard technical support channel would probably be the most expeditious route to trapping the cause of the problem you are having.  are you able to do that?

[2015-03-16 21:00] michaelschnack commented on #220
@jgravois I'll run it by Esri support, thanks.

[2015-03-16 21:02] esoekianto commented on #220
@michaelschnack if proxy to internal server works, that means the server or the user of the application pool that the proxy is using in IIS cant make the request to "http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson"

yes, Esri Technical support should be able to help you troubleshoot this.

[2015-03-16 21:02] #220 closed

[2015-03-17 20:05] hgonzago opened #221 "PHP specific: Proxying attachments does not carry over token"
@phpmaps - assigned this to you as I know you may want to know about this. Solomon found this issue.

This happens on PHP, works fine with .NET (didn't test JSP).

Using the following code you should notice that if you click on a feature with an attachment, the attachment does not come across. The attachment is proxied, but the token never gets appended to the attachment info, therefore causing to

[2015-03-27 01:18] themeebs commented on #198
I think this explains the exact problems I've been having with the PHP proxy.

[2015-04-07 19:28] nagmayasmin opened #222 "Printing secured service with Print widget produces error with code :400"
The developer's sample located at
Print templates with esri.request
"https://developers.arcgis.com/javascript/jssamples/widget_print_esri_request.html" has been replaced with secured service "http://sampleserver6.arcgisonline.com/arcgis/rest/services/USA_secure_user1/MapServer/0" with the proper configuration of proxy.config file to print. The secured service is displayed correctly, but the print

[2015-04-08 03:49] jgravois commented on #222
have you reviewed the documentation on printing secured services [here](http://resources.arcgis.com/en/help/main/10.2/#/Printing_maps_that_contain_secured_services/0154000005q3000000/)?

[2015-04-08 17:13] afili commented on #222
this basically describes about storing the credentials in the print service, right? i remember that we tested that in the past but it still did not solve the issue when using a proxy. but we will test again to double check. but regardless of storing the credentials, we see that the token is not passed in the export_webmap_json when using the proxy, while it is getting passed when using the Identit

[2015-04-08 19:27] jgravois commented on #222
i haven't tested it in quite awhile, but i was under the impression that creating the custom print service was the key to supporting printing of secured services and that it doesn't matter whether or not your REST request contains a token because, as you said, the credentials are stored within the print service itself.

all that being said, i could be mistaken.

[2015-04-08 19:35] tr3vorm commented on #222
I use secured print services with the proxy. The secure print service has credentials stored to access secure layers, but a token still has to be passed to the print service (GPTool) assuming that is secured at that level too. I recall a relevant bug being fixed in ArcGIS 10.3 - not very helpful sorry.

[2015-04-13 17:55] hgonzago commented on #222
You may want to take a look at http://resources.arcgis.com/en/help/flex-viewer/concepts/index.html#/Printing_secure_services/01m30000005s000000/.

It's an older doc that was made for the Flex Viewer, but the premise should still apply. Specifically the section that reads, "2. Secondly, the print service needs to be able to access the secure layer(s) as well. Essentially, you are trying to access t

[2015-04-15 01:13] afili commented on #222
Thanks @hgonzago

Yes, I think that the issue is that the print service is not able to access the secure layers. Not sure if it is related with the long-lived token, but we followed the steps in this doc http://resources.arcgis.com/en/help/main/10.2/#/Printing_maps_that_contain_secured_services/0154000005q3000000/ that @jgravois provided in order to provide the name and password to the service.

A

[2015-04-20 19:29] stokseth opened #223 ".Net proxy - asp.Net 5"
Hi,

asp.net 5 has changed a lot from previous versions of asp.net. As far as I know System.Web no longer exists. So using a ashx file as proxy, will no longer work.

Instead I guess you have to write a middelware class and include it in Startup.cs with app.UseMyMiddleware().

Any plans for creating a new proxy for asp.net 5 ?

[2015-04-20 22:40] bsvensson commented on #223
Hi @stokseth,
No, at this point, we don't have any plans for creating a new proxy for asp.net 5.  Once it's released, we might revisit this.

Note, as far as I understand, legacy apps will continue to run on the new version of the ASP.NET [without any modifications](http://www.asp.net/vnext/overview/aspnet-vnext/aspnet-5-overview).

[2015-05-06 22:00] esoekianto opened #224 ""client" parameter is now required for generate token request in 10.3"
We just encountered that there is an update to ArcGIS Server 10.3 for generate token request, now requires “client” parameter to be included in the request, otherwise we will get this error,

“{"error":{"code":201,"message":"Exception in generating token","details":"Exception in generating tokenFailed to generate a token for the user.Client ID is required for long expiration tokens."}}”

@afili  a

[2015-05-06 22:10] jgravois commented on #224
good find @esoekianto .
in general, shouldn't cause any trouble in older versions of ArcGIS Server as unknown params are typically ignored.

[2015-05-13 20:30] kingrollo opened #225 "PHP script returning empty query response"
Hi,

I've got a problem with a complex Map Service which is returning its response too slowly. I appreciate the best fix here is to do some fine tuning on the service, but it did highlight a problem with the proxy code (in the PHP version, anyway).

Manually signing into ArcGIS Server and calling the query URL http://server/arcgis/rest/services/SERVICE/MapServer//identify?f=json&tolerance=5&return

[2015-05-15 18:30] esoekianto commented on #198
@ynunokawa sorry for delay, are you testing this in Web App Builder?

I just tested this with secured webmap in Portal and AGOL. So I could reproduce the same issue but what we found out that you are missing "oauth2Endpoint" tag in your serverurl attribute in proxy.config.

I tried this without the changes in the code and it works, can you please try it on your end?

``
<serverUrl url="http://***.

[2015-05-18 05:27] Tapas-Das opened #226 "How can the proxy.ashx file be modified to work with a Proxy on a LAN?"
All our servers operate behind a firewall which blocks direct connections to the outside world. All communication must go through a Proxy.

How can the proxy.ashx file be modified to make it aware that there is a proxy on the Local Area Network?

We had to tweak the server/proxy.js file with this proxy information before we could run the Web AppBuilder developer edition 1.1

if (req.method === 'GE

[2015-05-26 11:23] jessevdk opened #227 "Proxy does not allow for browser caching"
It looks like the proxy does not allow for browser caching of resources. It would be great if it does, especially for things like tile map services which when cached can greatly improve loading times.

[2015-05-26 11:23] jessevdk commented on #227
I've only tested this with PHP.

[2015-05-27 15:40] phillipgreenii opened #228 "How can I use the proxy without storing the password in cleartext?"
Right now we are using the DotNet proxy, but it requires me to store the password in clear text.  Is there away do handle the authentication more securely?

[2015-05-27 16:09] bsvensson commented on #228
When possible, it's better to use clientId/clientSecret.

https://developers.arcgis.com/authentication/working-with-proxies/

[2015-05-27 16:34] phpmaps commented on #228
Phill I also want to add that you can set permissions on the server folder itself to limit access as to who can see the config file.

[2015-05-28 20:45] phillipgreenii commented on #228
@bsvensson  Once I created an application, the client id/client secret seems to work.  Thanks

[2015-05-28 20:45] #228 closed

[2015-06-05 02:19] lccspatial opened #230 "Secure ArcGIS Server WFS?"
Hi,

Is this possible? Manual browser run using proxy.ashx and arcgis server token & login page resolves ok.

Currently raising below:

[ApplicationException: Unable to determine the correct URL to request a token to access private resources]
   proxy.getNewTokenIfCredentialsAreSpecified(ServerUrl su, String reqUrl) in c:\inetpub\wwwroot\SLProxy\proxy.ashx:418
   proxy.ProcessRequest(HttpContext c

[2015-06-12 10:45] bigend opened #231 "Proxy seems not getting authorization token."
I am using proxy page for .net with application pool for .net 4 and ArcGIS server 10.2. My proxy configuration serverUrl tag is like this:

        <serverUrl url="http://myServer/ags/rest/services"
                   matchAll="false" username="myName" password="myPass" />

I am sure that username and password are correct (checked with ...tokens/generateToken web interface and succesfully get toke

[2015-06-12 15:31] afili commented on #231
Are you using proxy version 1.1 beta (you can check that in the beginning of the proxy.ashx file). If yes, you can use a log file that will print out the tokenResponse from the server. This way you will be able to check if you get a valid token or if you get an error. In order to do so, you first need to use a logFile in the proxy.config (e.g. <ProxyConfig allowedReferers="*" mustMatch="true" logF

[2015-06-15 11:35] bigend commented on #231
@afili thank you very much, it helped a lot. I finally realized that in proxy.config I had matchAll="false" and url="http://myServer/ags/rest/services", and I was testing proxy with url : http://myServer/ags/rest/services?f=pjson. The problem was ?f=pjson parameter. In  GetConfigServerUrl method the uri parts are compared and uri in config has 5 parts and uri in my testing url had 6 parts (thanks

[2015-06-15 11:35] #231 closed

[2015-06-17 00:13] ynunokawa commented on #198
@esoekianto sorry for delay too, yes, I am testing in Web AppBuilder with the webmap in AGOL.

I have confirmed missing "oauth2Endpoint" in my proxy.config.
My app is working well via proxy with the oauth2Endpoint according to your instruction.

Thanks a lot!

[2015-06-17 00:54] #198 closed

[2015-06-19 15:03] tgeorge commented on #225
What version of PHP are you using?

I had something similar going on with 5.5.12 where the images wasn't being loaded but giving me a 200 header. I tested it on 5.6.10 which worked fine and I settled with 5.5.26.

[2015-06-19 16:01] augaug commented on #127
So how do I enable .NET logging exactly? I enter `logFile="C:\proxylog.txt"` into my proxy.config but I see no logs generated..thanks!

[2015-06-19 16:11] afili commented on #127
@augaug which version of the proxy are you using? Is it Version 1.1 beta? You can see that information in the beginning of the proxy.ashx file.

[2015-06-19 16:45] augaug commented on #127
It's the 1.1 version, where do I activate/set path for it to function? I'm looking in proxy.ashx, but admittedly don't know what I'm looking for exactly...

[2015-06-19 17:29] afili commented on #127
The proxy.ashx already uses a method that will write to the log file. But if you want to write something extra, you can call this method logMessageToFile("Your message"); in the proxy.ashx.

[2015-06-19 17:40] augaug commented on #127
I guess I'm wondering where the logfile is then, or where I tell it to be in the proxy.ashx? I don't need to add anything to it...and the help doc refers to "C:\temp\Shared\proxy_logs" "if this location exists" so I made that location but still don't see any logfiles being generated.

On a different note - could I ask if you know the best documentation for my situation - I'm simply 1)making a weba

[2015-06-19 23:38] guo7711 commented on #127
@augaug Here is some more doc for using proxy with Web AppBuilder.http://doc.arcgis.com/en/web-appbuilder/manage-apps/use-proxy.htm
I would suggest to check if you have write permission when you set logFile="C:\proxylog.txt"

[2015-06-24 21:54] nickp10 commented on #182
I ran into this same error using the Java proxy while submitting a POST request. It's because the forwardToServer method is writing out the body from the POST request and then the passHeadersInfo method is writing out headers. This exception is thrown because you cannot write headers to the connection if you've already begun writing out the body. I fixed it by moving the passHeadersInfo method cal

[2015-06-24 22:00] bsvensson commented on #182
@nickp10 - sounds like you have figured out something good.  Do you want to submit it as a pull request?  (If not, we can take care of that...)

[2015-06-24 22:21] nickp10 commented on #182
Yeah I can submit a pull request.

[2015-07-10 15:13] taran03 opened #236 "Failure to load proxied map service until browser is refreshed"
I'm wondering if anybody has encountered issues with the DotNet proxy and Server 10.3 where the proxy appears to timeout? This map service loading issue typically occurs when a web map has not been opened for a period of time, maybe about 1 hour or more. I have not been able to nail down that time interval. I have limited clues for troubleshooting other than the following two tidbits:

1. Web maps

[2015-07-10 17:34] JeremiahUM commented on #236
I think I experienced this issue as well, it occurs after a cached token expires.  The copyHeaders function adds a second content-length to the header when a new token is obtained. One possible fix is to change the copyHeaders function to the following:

private void copyHeaders(System.Net.WebResponse fromResponse, HttpResponse toResponse)
{
	foreach (var headerKey in fromResponse.Headers.AllKeys)

[2015-07-13 22:38] taran03 commented on #236
@JeremiahUM, thank you. This tweak to the code appears to have resolved the issue.

[2015-07-15 12:22] MrPaulg commented on #177
Java Proxy Failing with Arcgis Server 10.3  - July 2015

Jul 15, 2015 12:02:57 PM org.apache.jsp.proxy_jsp _log
WARNING: Token cannot be obtained: {"error":{"code":405,"message":"Method not supported","details":"Generate Token request should not contain username and password in the query string."}}

has this issue been fixed? as per 'esoekianto' and 'bsvensson' comments ?
if so - I appear to be ha

[2015-07-15 16:03] esoekianto commented on #177
@MrPaulg yes, this looks like this issue, the fix for java has not been merged yet, see this pull request #178 .

Do you mind trying make the one liner changes in your proxy.jsp? https://github.com/esoekianto/resource-proxy-1/commit/2fe189e9a9141659bedced9317adb51e8ea394bd

Thank you,

[2015-07-16 08:26] MrPaulg commented on #177
Thanks [esoekianto](https://github.com/esoekianto )
Apologies - I did see that yesterday and made the change however - I forgot to mention - while its does sort the issue with 10.3 service requests, some of my requests also come from 10.2 instances. With this change the 10.2 service request for basemap services  fails and the 10.3 requests  appears to work, however I cannot upgrade the 10.2 instan

[2015-07-16 16:12] esoekianto commented on #177
@MrPaulg any chance you can call esri tech support? We can help you take a look at this quickly

[2015-07-30 16:07] bsvensson commented on #221
@hgonzago - is this specific to secured services? Or more generic when doing file attachments with php proxy?

[2015-08-01 09:47] masbis commented on #185
Hello @laythg, I also have the same problem. My installation is with ArcGIS Portal Server 10.3.1. Could you give me directions on the solution? Many thanks

[2015-08-04 17:20] bsvensson commented on #177
@jgravois - this issue only mentions DotNet and JSP.  Does the same problem apply to the PHP proxy?

[2015-08-04 17:27] jgravois commented on #177
i haven't tested personally, but the folks in professional services seem to think its not possible to generate tokens from 10.3.1 in PHP either.

[2015-08-04 18:05] esoekianto commented on #177
@bsvensson @jgravois so this issue was fairly simple.

our proxy has always been making POST request to to get token, but we failed to remove the query string parameter on the request, server 10.3 doesnt like this (having query string parameter in the URL).

this PRs (for DOTNET and JAVA) are simply to remove those query string parameter from the url, i am not sure why it would break for 10.2 or o

[2015-08-04 21:35] phpmaps commented on #221
@hgonzago @bsvensson this sounds like a regression.  Using our JSAPI attachment sample was heavily tested before the PHP proxy got released and during several updates.  I am seeing wonky behavior in a quick PHP proxy test (which may be a versions old).   For some reason I now see the file's path showing up in the attachment within the service.  Local paths should not be included in the file name.

[2015-08-04 21:48] cheetah90 commented on #182
@nickp10 I cannot reproduce the error so cannot verify it. To reproduce it, is it just sending POST request to Java/proxy.jsp? When I did it, I receive different error
[code]

[2015-08-04 22:13] cheetah90 commented on #182
@nickp10 I cannot reproduce the error so cannot verify it. To reproduce it, is it just sending POST request to Java/proxy.jsp? When I did it, I receive different error
[code]

**PS. the same POST request works on PHP and DotNet**

[2015-08-04 22:28] laythg commented on #177
Erwin's explanation is exactly how I fixed the dotnet version for 10.3.

Layth

[2015-08-06 21:24] bsvensson opened #240 "Java: Allow host redirecting with proxy"
Similar to https://github.com/Esri/resource-proxy/pull/152 which added support in DotNet and PHP.

[2015-08-06 21:26] bsvensson opened #241 "Document support for "hostRedirect""
Document the features added to DotNet and PHP as part of https://github.com/Esri/resource-proxy/pull/152 (and improved in https://github.com/Esri/resource-proxy/pull/254), and added to JSP as part of https://github.com/Esri/resource-proxy/pull/252.
* [ ] https://github.com/Esri/resource-proxy/blob/master/DotNet/README.md
* [ ] https://github.com/Esri/resource-proxy/blob/master/DotNet/proxy.xsd
* [

[2015-08-06 21:50] cheetah90 commented on #240
I am working on the JSP Proxy now. Do you want me send the PR and have it verified by other?

[2015-08-06 21:54] cheetah90 opened #242 "JSP Proxy does not distinguish https and http"
Currently if you put `serverUrl=http://example.com` in proxy.config and request `https://example.com`, JSP proxy will fire the request where it shouldn't.

[2015-08-06 22:31] bsvensson commented on #137
I agree with @phpmaps that we shouldn't make the referrer string a configurable item.  The proxy already handles using the real referrer.

I'm closing this issue.  Feel free to comment/reopen if you disagree @NoashX @jgravois

[2015-08-06 22:31] #137 closed

[2015-08-06 22:43] bsvensson commented on #129
This seems to work fine now.  I assume it was fixed by #169.

[2015-08-06 22:43] #129 closed

[2015-08-06 23:29] bsvensson commented on #182
Closing issue as it has been fixed by PR #239

[2015-08-06 23:30] #182 closed

[2015-08-10 17:57] #166 closed

[2015-08-11 17:45] cheetah90 commented on #242
Fixed by #243

[2015-08-11 18:16] #242 closed

[2015-08-11 18:21] cheetah90 commented on #191
Quick note: the token system endpoint for federated system is something like "{owningSystemUrl}/sharing/generateToken"

[2015-08-11 20:27] cheetah90 commented on #177
Looks like this one has been solved thus can be closed. @bsvensson

[2015-08-11 20:44] cheetah90 commented on #146
This issue has been fixed in JSP version. #245. Related tag can be removed. @bsvensson

[2015-08-11 20:46] cheetah90 commented on #138
This is the duplicate of #146. and has been fixed on JSP version thus the "Java" tag can be removed. @bsvensson

[2015-08-11 20:47] bsvensson commented on #177
Adding the PHP tag to make sure we test/fix PHP as well.

[2015-08-11 21:18] cheetah90 commented on #146
This issue is seen on DotNet but **NOT** on PHP.

[2015-08-11 21:49] cheetah90 commented on #214
@MrPaulg sorry for getting back really late. This issue sounds like this one #146. Could you take a look and help us figure out if it's the same? If it is, we recently fixed it in #245. Please use the master branch code :)

[2015-08-11 22:24] cheetah90 commented on #236
Hi @taran03 and @JeremiahUM thanks for bringing this issue up and offer the solutions. Can you provide more details in what scenario you get the the "second content-length to the header when a new token is obtained". I am trying to reproduce this issue and add the fix to the master branch :) Thanks.

A related thing, regarding the "proxy failed after 1 hour". We do notice that there is a bug in th

[2015-08-12 07:26] anilgoudr opened #251 "Cross-Origin Request Blocked"
We are working ArcGIS Javascript API. We have followed steps to setup Proxy. We are able to get desired results to some extent, as we are able to view the Map. However, when we try to fetch the ArcFM downstearm results using a URL, we are getting this error. Please help.

Let me paste the Exception for you here

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote reso

[2015-08-12 08:30] anilgoudr commented on #251
@bsvensson Please help

[2015-08-12 12:34] JeremiahUM commented on #236
Hi @cheetah90, from my experience to replicate the issue you just need to make a request through the proxy that causes the proxy to get and store a token.  Then after that token expires (1 hour by default), the first request made that tries to use that token will have the error.  I was also able to replicate the issue by reducing the "Lifespan of Short-Lived Tokens" on our arcgis server down to a

[2015-08-12 15:30] cheetah90 commented on #236
@JeremiahUM thanks for the reply! Yes, we are aware of this 1-hour-token-expiration bug. But as far as I know, this will give back a JSON file containing "code 498: invalid request". But how is this related to your fix regarding the second "content-type"?
[code]

[2015-08-12 15:58] JeremiahUM commented on #236
@cheetah90, In the DotNet proxy, the function fetchAndPassBackToClient will return true when the response has the "code: 498" in it.  The proxy then attempts to get a new token and calls fetchAndPassBackToClient again, which calls copyHeaders again.  The second call to copyHeaders adds a second content-length value to the headers with the current code.  I hope that makes sense.

[code]

[2015-08-12 18:08] cheetah90 commented on #251
@anilgoudr thanks for submitting the issue! Which proxy are you using? PHP? DotNet? JSP?

[2015-08-12 18:16] cheetah90 commented on #236
@JeremiahUM Yes. I completely understand now :) Looking at the code, it seems that the [`copyHeaders()`](https://github.com/Esri/resource-proxy/blob/master/DotNet/proxy.ashx#L385) is called too early than it should be. I will fix the issue and let you know! Thanks again for your help!

[2015-08-12 22:14] cheetah90 commented on #236
PR submitted. #253

[2015-08-12 23:27] esoekianto commented on #251
@anilgoudr it looks like from the error message, the request is not going thru the proxy page, and the server it is trying to make the request to is not CORS enable or not added to corsEnabled url list in js api

[2015-08-13 05:15] anilgoudr commented on #251
@cheetah90 I am using DotNet Proxy. Version of ArcFM is 10.0. Thanks for your reply.

@esoekianto, Thanks for your reply. I've already tried the steps in that page to setup and test the Proxy page. However, let me rescan everything once again. I guess you are right by saying the "request is not going through the proxy page". Let me debug it completely from scratch.

Thanks for your replies!!

[2015-08-13 15:24] cheetah90 commented on #251
@anilgoudr Sure. Let us know if you get it resolved :)

[2015-08-13 17:35] #240 closed

[2015-08-13 21:54] esoekianto opened #260 "serverurl properties case sensitive"
it would be nice and more usable if we can ignore case sensitive in the server url properties or other proxy config configuration properties.

for example: the clientId properties should be exactly "clientId" and it would not work if user mistakenly put it as "clientID"

non working serverUrl sample,
`<serverUrl url="http://services.arcgis.com/" clientID="XXXXX"
clientSecret="XXXX"
matchAll="true"

[2015-08-13 22:15] goldenlimit commented on #260
yes I would recommend if it is possible to tolerance the case sensitive issue

[2015-08-13 23:20] bsvensson commented on #260
Generally speaking, the config files are xml - and xml is case-sensitive.
* Monocasing in general is difficult when working with certain languages, for example some characters can not be lower-cased or uppercased.  BUT ... since our config properties are all A-z, that isn't really an issue here.
* It's faster if the code doesn't have to lowercase everything. BUT .. since the proxy would only do th

[2015-08-13 23:57] AkshayHarshe commented on #260
I would second to that.

[2015-08-14 15:39] #223 closed

[2015-08-14 18:56] bsvensson commented on #214
Closing as I believe this has been fixed by the recent updates.

[2015-08-14 18:56] #214 closed

[2015-08-15 00:07] #191 closed

[2015-08-15 00:15] bsvensson opened #269 "DotNet: doc the "domain" property"
Support was added in https://github.com/Esri/resource-proxy/pull/118 to allow for Windows authentication.

[2015-08-17 00:22] jgravois opened #270 "CHANGELOG needs updated"
we should be updating the CHANGELOG with a new 'Unreleased' section (like [this](https://github.com/koopjs/koop/blob/master/CHANGELOG.md)) to keep track of code changes since 1.0 and including new line items in future PRs.

this will make tagging the next release and announcing what's included significantly more straightforward.

---
background info on why we should [keep a changelog](http://keepa

[2015-08-17 04:18] bsvensson commented on #270
Good idea about the "Unreleased" section. Thanks @jgravois.

[2015-08-17 04:49] jgravois commented on #270
I'd also suggest that we move to using [Semantic Versioning](http://semver.org/) (ie: tagging the next release as 1.1.0) so that we can isolate and release fixes for an individual proxy (or all 3) in patches more easily.

[2015-08-17 15:47] bsvensson commented on #270
I updated the two open milestone labels from 1.1 and 1.2 to 1.1.0 and 1.2.0

[2015-08-18 00:55] #270 closed

[2015-08-18 22:20] bsvensson commented on #138
Closing since it was fixed as part of #146

[2015-08-18 22:20] #138 closed

[2015-08-18 22:30] bsvensson commented on #151
This was fixed by #211 (DotNet) and #212 (JSP). PHP was already working fine.

[2015-08-18 22:30] #151 closed

[2015-08-18 22:34] bsvensson commented on #202
Closing since it sounds like a solution was found by putting one proxy on each domain.

[2015-08-18 22:34] #202 closed

[2015-08-18 22:40] bsvensson commented on #185
The original issue here about renewing tokens has been fixed in #254 (DotNet), and also for JSP in #245 and for PHP in #272.

[2015-08-18 22:40] #185 closed

[2015-08-18 22:41] #218 closed

[2015-08-18 22:46] bsvensson commented on #199
Hey @jgravois - are you still planning to submit a PR "shortly"?  :)

[2015-08-18 22:52] bsvensson commented on #230
#266 (and/or other recent updates) should have fixed this.

[2015-08-18 22:52] #230 closed

[2015-08-18 22:54] bsvensson commented on #208
Closing - based on @afili comment from 2015-02-26.

[2015-08-18 22:54] #208 closed

[2015-08-18 23:15] #199 closed

[2015-08-19 00:19] bsvensson commented on #177
Fixed in all three proxies.

[2015-08-19 00:19] #177 closed

[2015-08-19 00:22] bsvensson commented on #224
Duplicate/solution for #177 which has been fixed and closed.

[2015-08-19 00:22] #224 closed

[2015-08-19 00:28] bsvensson commented on #222
Closed based on @afili comment above that this was a server issue at 10.2 that was later fixed in 10.3

[2015-08-19 00:28] #222 closed

[2015-08-19 00:41] bsvensson commented on #269
Both the https://github.com/Esri/resource-proxy/blob/master/DotNet/README.md and  https://github.com/Esri/resource-proxy/blob/master/DotNet/proxy.xsd needs updating as part of this issue.

[2015-08-19 05:36] jgravois commented on #269
protip&trade;
it'll close issues like these automatically if you include a [keyword](https://help.github.com/articles/closing-issues-via-commit-messages/) in the initial comment of your Pull Request

[2015-08-19 05:36] #269 closed

[2015-08-20 22:47] bsvensson opened #282 "Improved support for allowedReferer"
All three proxies currently support allowedReferer, but with some variations.  This is a proposal for standardising and adding some functionality to the allowedReferer property. See table below as well as the bullet points below it.

allowedReferers    | will exactly match...  | will not match...
------------------ | ---------------------- | -----------------
www.example.com    | http://www.exampl

[2015-08-21 00:36] bsvensson commented on #69
@jgravois - in https://github.com/Esri/resource-proxy/issues/69#issuecomment-39499877 above you asked if your suggested DotNet solution would work.  I think it would work fine :)

Could you submit a PR with that fix (returning 429 error when hitting the ratelimit)?

[JSP code has](https://github.com/esri/resource-proxy/blob/master/Java/proxy.jsp#L1024-L1025):
[code]

[2015-08-21 16:19] aaronkilbey opened #284 "dot in query string causes "Unsupported Referer" via checkWildcardSubdomain()"
Been chasing down 403s from 1.1.0 version using allowedReferers="//*.domain.com".  URLs with coords that have dot failed referer checking.  checkWildcardSubdomain() splits on dot to make part comparisons to allowedReferer, and requestedReferer can have a query sting with a dot.  suggest chopping off query string before comparison

[2015-08-21 17:15] cheetah90 commented on #284
Hi @aaronkilbey, thanks for the suggestions. We are aware of this bug and are trying to fix it in the next release. Will update here about the specific pull request in case you want to manually apply the patch. Thanks

[2015-08-21 17:45] cheetah90 commented on #284
@aaronkilbey can you tell us which proxy are you using? DotNet or JSP?

[2015-08-21 17:56] aaronkilbey commented on #284
DotNet on 2012/IIS 8.5.  Also, in evaluating responses for this, I noticed the error return has IIS HTML output after the JSON "Server Error in '/' Application...''.  Fixed by response.End(); at the end of sendErrorResponse().  (I know barely enough asp to debug this otherwise I'd pull request)

[2015-08-24 16:53] cheetah90 commented on #226
@Tapas-Das sorry for the late reply. I am trying to understand what URL it would look like if it's proxied by your proxy. Is it something like `http://{your_own_proxy}?http://www.google.com`?
Thanks

[2015-08-24 17:13] cheetah90 commented on #172
This is fixed by #256 and can be closed.

[2015-08-24 17:13] #172 closed

[2015-08-24 17:15] cheetah90 commented on #284
This is fixed by #285 and can be closed! Thanks @aaronkilbey

[2015-08-24 17:16] #284 closed

[2015-08-24 17:16] cheetah90 commented on #236
Fixed and can be closed! Thanks @taran03 and @JeremiahUM

[2015-08-24 17:16] #236 closed

[2015-08-24 17:17] cheetah90 commented on #175
I think now we are forwarding all the headers from the client request. Right? @bsvensson

[2015-08-24 17:19] cheetah90 commented on #160
Fixed on all three proxies.

[2015-08-24 17:19] cheetah90 commented on #146
Fixed on all three proxies.

[2015-08-24 17:21] cheetah90 commented on #30
Fixed on all three proxies.

[2015-08-24 21:35] #30 closed

[2015-08-24 21:35] #146 closed

[2015-08-24 21:35] #160 closed

[2015-08-25 00:08] cheetah90 commented on #227
Tested on all three proxies. The cache works fine. All received the 304 Not Modified.

[2015-08-25 00:09] #227 closed

[2015-08-26 01:28] bsvensson commented on #162
Closing this as a known issue for old curl versions.  See https://geonet.esri.com/thread/116158 for details.

[2015-08-26 01:28] #162 closed

[2015-08-27 01:01] #196 closed

[2015-08-27 16:31] jtroe commented on #213
I have this implemented in a custom build.  It works against a web adaptor with web-tier authentication instead of to a gis-tier configuration as the resource-proxy seems to support now.

Is this what you're looking for?  If so, I could raise a pull request with the changes.

[2015-08-31 15:57] djg07 opened #289 "Token Required with Login Prompt"
I've been attempting to set this up using the instructions in the Readme.md, but keep getting a "Token Required" error and subsequent login prompt when attempting to access the secured map service.

.config file looks like this:
[code]

I tried getting a token from the rest interface and passing it in as "token='xxx'" but that didn't work either. Also, I am noticing I can't hit a breakpoint in pro

[2015-08-31 16:08] esoekianto commented on #289
@djg07
the proxy configuration file looks good to me. but the fact that passing the token didn't work is probably the key information here (assuming that we set the referer value correctly when generating the token)

Can you try different user maybe? It is probably easier if you can call esri tech support, we can help you debug this.

[2015-08-31 16:21] djg07 commented on #289
@esoekianto

Just tried it with a different user with read privileges, same result.

I've been using "IP" as the Client when generating the token. Is this correct?

[2015-08-31 16:30] esoekianto commented on #289
@djg07 thats okay.

The requests in your application are going thru the proxy right? You can try to also change the mustMatch property in proxy.config to true.

[2015-08-31 16:39] djg07 commented on #289
Yup they are going through the proxy successfully.

[2015-09-01 15:06] #282 closed

[2015-09-01 15:21] jgravois commented on #282
lets tag a release!

[2015-09-01 16:57] bsvensson commented on #108
@jgravois et al - I think we're getting close to releasing the 1.1.0.  Only five open issues left for 1.1.0: https://github.com/Esri/resource-proxy/milestones/1.1.0.  Mostly docs. It would also be a good time to have some additional sanity testing since there's been a lot of changes the last few weeks.

[2015-09-01 17:38] jgravois commented on #108
i added a little markdown to your initial comment in this thread to make it a 'to do'

[2015-09-01 21:13] cheetah90 commented on #282
yay!

[2015-09-02 04:19] dimesv opened #290 "Cannot add more namespaces to the proxy"
Hi Bjorn,

Maybe this is my problem but I cannot seem to add more namespaces to the ASHX Generic Handler.
I am trying to add the System.Net.Http namespace but the compiled proxy does not pick it up.
Is this because this is compiled? If so, can you guys provide the non-compiled version?

Cheers,
Jose

[2015-09-02 04:42] dimesv commented on #290
Forgot to add the assembly line on top of ashx file ...

<%@ WebHandler Language="C#" Class="Proxy" %>
<%@ Assembly Name="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" %>

Now the using statement recognizes the assembly ...

[2015-09-02 04:42] #290 closed

[2015-09-02 18:07] #241 closed

[2015-09-02 18:35] phpmaps commented on #221
Passing token seems fixable.  However, it's super strange that the file path gets included in the upload right?  I am thinking PHP cURL may have some quirks here.

Standard cURL does the job correctly.

[code]

[2015-09-02 18:36] phpmaps commented on #221
Does anyone else see the path get appended to the file name in the attachment viewer?

[2015-09-02 20:28] phpmaps commented on #221
The content type of the response is derived from the info file's mime type. If the mime type can't be derived, the response content type will be set to application/octet-stream.

http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#//02r30000007m000000

When looking at uploaded files via php proxy the content-type is always this.

[code]

[2015-09-02 21:11] phpmaps commented on #221
@bsvensson  @jgravois @hgonzago  - Update on this one.   I think this may be an issue inside server core where server core cannot discern the content type and file name from a PHP cURL upload.  PHP gets the file to the server and my suspicion is that server does not handle the file all that well and defaults to thinking it's application/octet-stream and does not pick up the filename.  The specific

[2015-09-03 21:27] stewrouse opened #292 "Pass current user's Integrated Windows Authentication credentials through the proxy"
Currently, the proxy allows users to hard code their IWA credential in the proxy.config file to be passed to a server that is set up to accept IWA credentials as suitable logins.  Some users would find it useful if the proxy could get the credentials of the currently logged in user to pass to the proxy in lieu of hard coding the credentials in the proxy.config file.

There is a enhancement request

[2015-09-03 22:16] jgravois commented on #292
if the user has appropriate credentials to access the secure resource, why proxy the request?

do your browsers/server not support CORS?

[2015-09-04 01:38] djg07 commented on #289
@esoekianto I updated to the most recent version of proxy.ashx . It is now working as expected.

[2015-09-04 01:38] #289 closed

[2015-09-04 12:02] stewrouse commented on #292
In the case where this Issue originated, the user’s browser did not support CORS.  It was a government agency and they were using IE9 and did not have access to any other web browsers.

The request had to be sent through the proxy because it was an Add Features request which only accepts Post requests.

If I am understanding things correctly, current browsers support CORS and do not need a proxy t

[2015-09-04 15:55] jgravois commented on #292
exactly.  proxies assist in POSTing across domains when CORS is not supported.

see [this](https://developers.arcgis.com/javascript/jshelp/ags_proxy.html) article for a little more info.

[2015-09-04 16:29] #216 closed

[2015-09-04 16:35] bsvensson commented on #187
I think this works in the current JSP version.  If not, please comment/re-open the issue with more details on how to replicate the problem.

[2015-09-04 16:35] #187 closed

[2015-09-04 17:37] stewrouse commented on #292
The use case I am advocating for is less about the CORS aspect of using the proxy, and more about passing credentials along using the proxy.  Since ArcGIS for Server has the capability to accept IWA credentials, it could be useful for the proxy to be able to automatically get those credentials from header of the request that is sent to the proxy, and have the proxy pass the credentials to the serv

[2015-09-04 17:42] bsvensson commented on #292
@stewrouse - which proxy are you using?

For DotNet, this was supposed to be fixed by https://github.com/Esri/resource-proxy/pull/118 (DotNet: Allow Windows Authentication). (Or is that not the issue you are describing?)

[2015-09-04 17:56] jgravois commented on #292
if the end user is capable of passing their own credentials to access the secure resource the proxy is unnecessary, except in the case you outlined above (when assistance is needed to POST across domains because either the client browser or web server doesn't support CORS.

if that's what you're asking for, we can look into it, but it'd also be appropriate for you to investigate establishing CORS

[2015-09-04 18:29] stewrouse commented on #292
I am using the DotNet proxy, and yes it was fixed. You are able to hardcode Windows Authentication credentials in the proxy and pass them from the proxy to the server. I am referencing having the proxy automatically get the credentials from the user that is logged in, and passing them to the Server.  I have been emailing John Gravois about this issue.

From: Bjorn Svensson [mailto:notifications@gi

[2015-09-07 12:41] majales commented on #213
Hi,
Thanx for answer. I don't know how exactly configure web-tier auth with Web Adaptor, but it should be generic basic auth without any special forms or tokens. I've got SSL URL with WMS service protected by basic authentication. I'd like to configure credentials in resource proxy configuration and force arcgis server web client to access this map resource through resource proxy.

[2015-09-09 05:51] bsvensson commented on #213
@majales - is the service you're trying to use on your machines?  If not, you shouldn't have to configure web adaptor.

Which proxy are you using?
I have a version of the PHP proxy that supports [HTTP Basic Access Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). It's not thoroughly tested but works on my machine...

[2015-09-09 13:38] sverkerEsriSE opened #294 "mustMatch = false not working in DotNet"
I'm not sure if this is a bug or just something wrong with my proxy.config, but when setting the mustMatch option to false, the proxy still will not allow any URL to be proxied, instead replying with:

*The request URL does not match with the ServerUrl in proxy.config! Please check the proxy.config!*

from line 122 in proxy.ashx

[2015-09-09 16:01] jgravois commented on #294
are you working with the 1.0 release of the proxy or did you download source from the active `master` branch?
can you copy/paste your proxy.config and an example of one of your requests?

at the bare minimum, you'd need something like this
[code]
http://[yourmachine]/[folder]/proxy.ashx?http://services.arcgisonline.com/arcgis/rest/services

[2015-09-09 23:03] kingrollo commented on #225
@tgeorge Sorry! only just saw this. I'm using PHP 5.6.8.

[2015-09-10 11:56] sverkerEsriSE commented on #294
I am using the latest master branch (from a few days ago). 1.1.0 beta
I tried the bare minimum proxy.config as you suggested, same error.

Replicated this on all machines I tested on.

A request can look like this:

`http://[externalsite]/proxy/proxy.ashx?http://www.google.com`

Also tried the default proxy.config, but changed *mustMatch* to *false*

[code]

[2015-09-11 02:30] djg07 commented on #294
@sverkerEsriSE

Just want to confirm, you are setting the same URL in your application code as the one in the <servelUrl> tag in proxy.config?

[2015-09-11 09:26] sverkerEsriSE commented on #294
I am accessing the proxy.ashx directly for testing purpose, so I am not going trough an application.

As I understand it from the README, you should be able to have the proxy work with any URL, and it did work that way in the release version 1.0.

Looking at the proxy.ashx code, the flow of the method GetConfigServerUrl will always try to match up with the URL:s in proxy.config, and if there is no

[2015-09-12 23:38] thewordsmith opened #295 "Proxy.php and Sample API not working together"
Thus far I have been able to configure the proxy.php system so it works on its own. Like testing the configuration at  http://freshsoftware.net/usps/eddm/sample_api/proxy/proxy-verification.php.

I can also test the argis json response by running http://freshsoftware.net/usps/eddm/sample_api/proxy/proxy.php?http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson.

But I have not been able t

[2015-09-12 23:50] phpmaps commented on #295
@thewordsmith  - Since it looks like your test page is working, I think the problem appears to be inside your JS application.  Your application is not resolving the location of your proxy.php.  Your server is throwing a 404.  You app thinks your proxy is here.

[code]

However, really I think your proxy lives here...

[code]

[2015-09-13 02:20] thewordsmith commented on #295
I created a symlink from document_root/proxy/proxy.php to usps/eddm/sample_api/proxy/proxy.php and that solves the connection problem.

Now I am getting the following error in my proxy_log.log file.

09-12-15 21:51:30 | GET detected
09-12-15 21:51:30 | Proxy could not resolve requested url - http://stg-production.shippingapis.com/ShippingAPI.dll/execute.  Possible solution would be to update 'must

[2015-09-13 02:30] phpmaps commented on #295
Hi Sulaiman - when ````mustMatch```` is true the proxy will only broker requests to URLs listed in the ````serverUrls```` element.  You likely need to update your config with something like this.

[code]

[2015-09-14 02:53] thewordsmith commented on #295
I was able to resolve the stg-production.shippingapis.com problem. Now when I use the Polygon or Freehand I see an authentication error when I press F12 and follow proxy/proxy.php. I set the username/pass in proxy.config but I still get the authentication error.

<?xml version="1.0" encoding="UTF-8"?>
<Error><Number>80040B18</Number><Description>An error has occurred with the service.  Please cont

[2015-09-14 03:03] phpmaps commented on #295
I am not sure Sulaiman.  A few things seem a bit unusual to me.  That error you see is not an error message built into the PHP proxy.  You can scan the source code to confirm that.  Also it's not clear why you've got the key value ```secret_key=xxxxx``` within your request.  That is not a convention I am familiar with.

Perhaps  use chrome debugger tools and paste the entire GET or POST here, so t

[2015-09-14 05:21] thewordsmith commented on #295
The Secret Key is for later use in my development. Use FireFox for the link bellow. After making a polygon press F12 to view the debug console log
![js_console](https://cloud.githubusercontent.com/assets/10285202/9842665/ebf96946-5a7e-11e5-8248-3fe6da5899f3.jpg)
and click on proxy/proxy.php.

http://www.freshsoftware.net/usps/eddm/sample_api/?secret_key=MTI1ZjVyN3JBNTY2dDJlcjE1d2tyNTQ0dWprNDhraklX

[2015-09-14 05:35] phpmaps commented on #295
@thewordsmith after close look the problem does not seem to be the PHP proxy.   If you remove the proxy and send a request to this address

[code]

 the same error is thrown, which tells me the proxy is doing it's job by brokering the communication. The error is from the underlying resource.

[2015-09-14 16:16] gavinr commented on #294
I've seen this issue too.

[2015-09-14 16:33] esoekianto commented on #294
@jgravois @bsvensson I can repro this issue.

It looks like this issue started happening after this commit https://github.com/Esri/resource-proxy/commit/4bafdd234e415c0c3fe84fd89d19f26db60b8daf

[2015-09-14 18:38] thewordsmith commented on #295
I went into proxy.php and added every instance of username & password but I get the same result.

[2015-09-14 21:17] phpmaps commented on #295
@thewordsmith - I think the issue is ``` http://stg-production.shippingapis.com/ShippingAPI.dll/execute ``` is not an ArcGIS Service.  When the proxy project got kicked off it was created with ArcGIS Services in mind (especially when dealing with authentication).  If the config has a username and password - the is logic in the code to dynamically look up the ArcGIS for Server token endpoint and th

[2015-09-14 21:37] thewordsmith commented on #295
I added the following url to proxy.config:

      <serverUrl
          url="http://services.arcgisonline.com/ArcGIS/rest/services/"
          matchAll="false"/>

Now when I use FireFox go to the Sample API I get time out errors in the consol log (F12).

http://www.freshsoftware.net/usps/eddm/sample_api/?secret_key=MTI1ZjVyN3JBNTY2dDJlcjE1d2tyNTQ0dWprNDhraklXUzZuJXdrZGprSkg=

[2015-09-14 23:44] esoekianto commented on #294
fix at #297

[2015-09-14 23:44] #294 closed

[2015-09-14 23:45] jgravois commented on #294
@gavinr @sverkerEsriSE can you guys confirm everything looks good on your side too when you have a minute please?

[2015-09-15 08:34] sverkerEsriSE commented on #294
@jgravois Yeah, it's working now. Thanks @guo7711 !

[2015-09-15 15:30] phpmaps commented on #295
@thewordsmith I am not understanding.  Are you or are you not trying to setup a proxy to obtain information from ```http://www.freshsoftware.net/usps/eddm/sample_api/```?

[2015-09-15 15:39] gavinr commented on #294
:+1:

[2015-09-15 15:41] gavinr commented on #127
My issue was that the log file was not writable by the IIS ApplicationPoolIdentity. I followed these instructions and started logging: http://stackoverflow.com/a/7334485/2039. Is this the resolution for others?

[2015-09-15 16:47] thewordsmith commented on #295
Yes, that is what I am attempting to do. I just found that there was a config syntax error in proxy.config. I corrected that am now I am getting the same authentication error. I have tried to add the username/password to proxy.config and directly in proxy.php but I still get the same error. Where am I supposed to but the username/pass. I have been a USPS Webtools developer for over 10 years so I a

[2015-09-15 17:32] phpmaps commented on #295
Thanks, got it.  Sulaiman when the PHP proxy was created, it was created so users could proxy ArcGIS Services and not other types of services.  If you read the readme we talk about why folks should use the proxy.

For example, I cannot put ```https://accounts.google.com/ServiceLogin``` into the config.xml file along with my username and password and then log into google / gmail.  That does not wor

[2015-09-15 20:59] esoekianto commented on #294
@gavinr @sverkerEsriSE thank you for testing and confirming

[2015-09-16 04:11] thewordsmith commented on #295
The SAMPLE USPS/ERIS file is supposed to work with the USPS/Ersi Every Door Direct Mail SAMPLE API. You are supposed to be able to replace the WSPROXY.JSP file with PROXY.PHP by editing the assets/geoprocessing.js file.

It is not working because the is no way to set the username/password the same way that I can with the sample webtools.html that I have uploaded to the link bellow. Look at the XML

[2015-09-17 16:03] NoashX opened #298 "Port over proxy documentation from JavaScript API page"
There is some good information and instructions in the "Using the proxy" documentation from the JavaScript API page https://developers.arcgis.com/javascript/jshelp/ags_proxy.html

Seems like it would be useful to incorporate this into the main README file here? A one-stop shop for proxy information would be more useful than distributed information on different pages.

Thoughts?

[2015-09-17 16:07] jgravois commented on #298
i get where you're coming from, but it seems to me like it would be enough to link to it where it is.  that way we don't have to worry about keeping *two* pieces of documentation up to date.

[2015-09-17 16:07] esoekianto commented on #298
@NoashX I think that information is more on how to incorporate the proxy page in js api, and it may be different in other APIs or product like WAB here (https://developers.arcgis.com/web-appbuilder/guide/use-proxy.htm)

I think those can stay in their respective API/product doc page, not here.

[2015-09-17 16:12] jgravois commented on #298
@esoekianto.  check out the section in the link @NoashX provided called *'Test the proxy'*.  the steps it describes have nothing to do with the JSAPI and would be totally relevant here.

[2015-09-17 16:12] NoashX commented on #298
Understood. I'll see your comments @jgravois @esoekianto, and raise you a list of links to our products that have their own proxy documentation. Would that be useful?

e.g.
JavaScript API
Web AppBuilder
AGOL
...

[2015-09-17 16:52] esoekianto commented on #298
@jgravois I see. I think the "Test the proxy" part is like a 'story-telling' version of the instruction page here on how to set up or test the proxy in your web server.

I feel like if it is important and related to how to set up or test the proxy they can be here, but it if it is related to on how to incorporate proxy to the specific product, its better to stay where its doc is, so that if any ch

[2015-09-17 16:56] jgravois commented on #298
yeah, its really valuable troubleshooting doc that i don't think it needs to be rewritten here.

@NoashX please take a stab at updating the readme in this repo to include links to both dependent project documentation and the existing troubleshooting documentation and we can review your PR.

[2015-09-17 16:58] NoashX commented on #298
@jgravois will do, thank you and @esoekianto for the feedback

[2015-09-17 17:56] NoashX commented on #298
https://github.com/Esri/resource-proxy/pull/299 :grey_question:

[2015-09-17 18:26] jgravois commented on #298
ProTip :copyright:
your mention of `#298` in the initial PR commit message automatically added the reference above your last comment here.
if you had used a [keyword](https://help.github.com/articles/closing-issues-via-commit-messages/) like 'close', 'fixes', 'resolves' in that message, this issue would be closed automatically by the merge.

[2015-09-17 18:28] NoashX commented on #298
good looking out, i'll give that a shot :ok_hand:

[2015-09-17 20:16] #298 closed

[2015-09-22 12:40] djg07 opened #300 "Login prompt appearing randomly"
Using .net, the login prompt has been appearing randomly. The issue is impossible to replicate consistently. It just happens when a user attempts to add a layer.

My proxy config looks like the following:

[code]

Not sure what more information would be helpful.

Edit: Looking at the docs more, it may actually be an issue with rateLimit and rateLimitPeriod. Since I have many users using the same l

[2015-09-23 07:53] majales commented on #213
Hi. No, the service is external independent WMS service accessible via secured web ( https) with username and password. I'm using .NET proxy at the moment, but I can switch to PHP version without problem. Could you please publish your PHP proxy with HTTP Basic Access Authentication support?

[2015-09-25 13:05] devfunk opened #301 "Expired token check on tile service failing"
We have a self hosted tile service who's token expires and then fails to be renewed.

This was traced to the `fetchAndPassBackToClient` function where the service response validation check the status code and response content.

We found that when the tile service tokens expired the response was text/html response (code 200) with HTML content for a web page displaying "Invalid Token".  We added a t

[2015-09-25 18:54] wspiking commented on #127
Hi augaug,

Did you get the issue with the log files not being generated in C:\temp\Shared\proxy_logs figured out?  I'm running into the same problem and haven't been able to figure it out.

Thank you,

Bill

[2015-09-25 22:11] augaug commented on #127
Hi Bill, I did not- however I did get the proxy working finally...

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Bill Spiking <notifications@github.com>
Date: 09/25/2015  11:54 AM  (GMT-08:00)
To: Esri/resource-proxy <resource-proxy@noreply.github.com>
Cc: "Michael S. August" <aug_aug@yahoo.com>
Subject: Re: [resource-proxy] .NET proxy does not document

[2015-09-28 12:34] wspiking commented on #127
I finally got the logging to work by adding the log file location to the proxy.config (see below), but I’m still not able to pass my AGO credentials.  Any suggestions would be appreciated.  Thanks!

<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig mustMatch="true" logFile="C:\Temp\Shared\proxy_logs\auth_proxy.log">
  <serverUrls>
      <serverUrl url="http://services.arcgis.com/Fz6BBJUji5ArUSD

[2015-09-28 15:31] phpmaps commented on #127
@wspiking - I am not so sure about what you are doing but when authenticating into ArcGIS Online you should be using OAuth and have users submit their username and password - not use the proxy config containing username and password.  We've got various API's all that support OAuth and make it rather easy.  Alternatively, this proxy enables you to add a clientID and clientSecret into the config to

[2015-09-28 15:34] phpmaps commented on #127
@bsvensson I am just seeing your comment above now.  I agree having logging in the proxy.config would be a nice option and make it easier to support / use.

[2015-10-01 16:30] david-chambers opened #302 "Unable to access html endpoint for ArcGIS Online hosted feature services"
When accessing the html endpoint for a ArcGIS Online hosted feature service that is not shared publicly I receive the error: 'Token Required' and 'http://<machine name>/ESRI.ArcGIS.SDS.REST.css Failed to load resource: the server responded with a status of 404 (Not Found)' is printed to the console.  When changing the endpoint to json or pjson i can view the service information successfully.

![pr

[2015-10-01 21:43] jgravois commented on #302
we're calling this 'by design' because the HTML fetched by the end resource includes relative links to supporting CSS which haven't been fetched.

for application support, JSON support is all that's required and these requests function as expected because the payload is limited to a single file.

see #72 for more info.

[2015-10-01 21:43] #302 closed

[2015-10-02 11:14] david-chambers commented on #302
Thanks John for an explanation and closed issue #72.  I missed that.

[2015-10-02 12:54] jgravois commented on #302
no worries.  I had the same question back in the day.

[2015-10-06 18:05] nateshaub opened #303 "Formalize release?"
Hi there, I simply wanted to suggest that you formalize a release from your 1.1 Beta as the 1.0 resource proxy does not work correctly with ArcGIS Server 10.3.1.  Thanks!  -Nate Shaub

[2015-10-06 18:25] esoekianto commented on #303
@nateshaub we are working on formalize the 1.1.0 that should work with AGS 10.3.x , in the mean time feel free to use the daily build

[2015-10-06 18:30] nateshaub commented on #303
Thanks sir!  I've already put the daily build in place successfully but would love to peg myself to a specific release.

[2015-10-06 18:31] bsvensson commented on #303
This is a duplicate of #108 .

[2015-10-06 18:31] #303 closed

[2015-10-06 23:06] phpmaps commented on #221
@bsvensson @hgonzago  - Guys is there someone I can talk to knows the addAttachment API in server?

~Hopefully someone who wrote the API for addAttachment could look at this..

[2015-10-07 01:09] hgonzago commented on #221
@phpmaps if the issue is on the server end how is it that it works ok outside of the PHP proxy?

[2015-10-07 02:35] pstaikov opened #304 "tokenServiceUri option missing in the DotNet version of the proxy"
I am trying to use the proxy with token based authentication. I have realized that before the proxy calls the generateToken URL, it calls the /arcgis/rest/info page to discover the generateToken URL. My problem is that the arcgis/rest/info page also requires authentication and since it precedes the token generation, that call returns 401 (Unauthorized) response. I do not understand the portal conf

[2015-10-07 04:31] phpmaps commented on #221
@hgonzago - So PHP gets the file to the server just like Java, NET and JS can.   I can even do this with cURL.  There is something strange with PHP uploads.  Our server is not cannot picking up

1) the content type
2) the file name from a PHP cURL upload

The best I can tell that info is being sent.

Also just to recap this happens with secure and non-secure services accepting file uploads.  If we

[2015-10-07 05:47] pstaikov commented on #304
I actually did some more investigation and found out that the tokenServiceUri was actually a red herring. It is still a difference between the DotNet and java versions and you can fix it if you feel it is a good idea, but my problem was due to something else. Both the /arcgis/rest/info and the /arcgis/tokens URL were protected by windows authentication. It turns out that the java proxy handles IWA

[2015-10-07 17:22] bsvensson commented on #304
@pstaikov - tokenServiceUri  is implemented for all three proxies BUT missing from [the DotNet README.md](https://github.com/Esri/resource-proxy/blob/master/DotNet/README.md).  We will get that updated.

Could you explain in more details what you mean with IWA is not handled by default in the DotNet proxy?  It should be...  Are you using the 1.0 version or the latest daily build.

[2015-10-07 22:06] bsvensson opened #306 "logLevel and logFile differ between proxies"
Investigate more.  Likely "fix" might just be to doc the differences.
- [x] The **logLevel** property in the config file differ between proxies.  See https://github.com/Esri/resource-proxy/pull/293#issuecomment-138804953.
- [x] The **logFile** also differ between the proxies.  Check default location for each proxy.

[2015-10-08 03:11] pstaikov commented on #304
Bjorn,

Thanks for your response. I did try both version 1.0 and the latest on the master (it says it is version 1.1.0-beta). Regarding the tokenServiceUri,  I can see that there is a variable by that name in the DotNet version, but to the best of my ability, I cannot see it being read from the config file and used the same way as in the java version.

Regarding the IWA, let me start by saying tha

[2015-10-08 23:45] pstaikov commented on #304
@bsvensson - Here is what I figured out. I was providing a username and password in the proxy config, but not domain. I do not believe that the domain attribute is documented in the readme file. So I think what happens is that when you specify the domain, that is a trigger for the proxy to use IWA. If a domain is not specified, then the proxy attempts getting a token. In my case this did not work

[2015-10-08 23:51] bsvensson commented on #304
@pstaikov

It's a bit hidden, but on https://github.com/Esri/resource-proxy/tree/master/DotNet (about to be moved to the main readme as part of #293) there is a bullet point for:
* **domain**: The Windows domain to use with username/password when using Windows Authentication.

Any suggestion how we can improve that info?

Also, so in the end, did you end up not needing `req.UseDefaultCredentials =

[2015-10-08 23:52] afili commented on #304
@pstaikov you are right, this is how it works. domain should be in place in order for the proxy to use IWA. We have this line of code in the readme:

domain: The Windows domain to use with username/password when using Windows Authentication.

Do you think that it is not very explicit?

[2015-10-08 23:52] afili commented on #304
@bsvensson you were faster than me!

[2015-10-08 23:53] bsvensson commented on #304
21 seconds!

[2015-10-09 20:28] pstaikov commented on #304
I suppose the line you have is enough. At least it will give the developer an idea that there is something else to try. I was looking at the 1.0 version and the latest on the master and did not know it existed.

@bsvensson -- no, I did not have to use the req.UseDefaultCredentials = true; after all.

Thank you guys for your support!

[2015-10-09 20:29] #304 closed

[2015-10-13 17:01] #49 closed

[2015-10-19 23:46] esoekianto opened #307 "document - must include oauth2endpoint in the serverurl when using OAUTH2 for WAB"
From my experience and other folks in support helping customers setting up proxy for WAB, when accessing the secure webmap, we need to include "oauth2endpoint" with value of "http://orgnamexxxx.maps.arcgis.com/sharing/oauth2", otherwise we will get error of no permission to access this resource

example of serverurl that NOT working,

``<serverUrl url="http://ess.maps.arcgis.com" clientId="xxxx" c

[2015-10-19 23:52] phpmaps commented on #307
It might be interesting to explore if they can use the built-in proxies in WAB (aka the ones built into ArcGIS Online Applications under the Authentication Tab).  Actually for Application type logins using clientID and clientSecret I would recommend always using the built-in Service Proxies.  Thoughts?

![image](https://cloud.githubusercontent.com/assets/2159502/10594389/87d5bf4a-7681-11e5-9e46-a3

[2015-10-19 23:59] esoekianto commented on #307
@phpmaps this is actually a really good idea if we can make it work using this built-in proxies in AGOL to access the secure webmap. It is only available for services, like routing, elevation, etc

[2015-10-20 00:11] bsvensson commented on #307
@esoekianto - [the doc](https://github.com/Esri/resource-proxy/blob/master/README.md) was updated recently to say:

* **oauth2Endpoint**: When using OAuth 2.0 authentication specify the portal specific OAuth 2.0 authentication endpoint. The default value is https://www.arcgis.com/sharing/oauth2/.

Any suggestions for how to clarify that?

[2015-10-20 00:21] esoekianto commented on #307
@bsvensson hmm, I think that is good already. It just that I feel that there is confusion since we don't need to specify the oauth2endpoint when accessing secure webmap in other js api template in AGOL. Maybe if we can add example after that sentence, when using this in Web AppBuilder application.

what do you think?

[2015-10-20 00:25] phpmaps commented on #307
I like this idea.  @esoekianto it sounds like this is a very specific thing involving WAB and Web Maps.  Is that correct? If so I like @bsvensson 's idea.

[2015-10-20 00:35] jgravois commented on #307
if there's a bug in WAB, why don't we just help them out when we can and adapt generic ArcGIS Online Organizational urls to infer an `oauth2Endpoint` that works automatically?

[2015-10-23 15:40] hmelendez opened #310 "Allow Oauth2 authentication with Portal IWA and Federated Server."
I have a Portal installation that is secured using Integrated Windows Authentication. I'm trying to use this proxy to access my secure Server federated services using Oauth2, Client ID and Secret in an app. The problem is that when the proxy tries to access the Oauth2 endpoint the WebAdaptor doesn't allow it since the proxy has no windows credentials to pass through. I tried using the **oauth2Endp

[2015-10-23 18:52] jgravois commented on #310
you might check out the untested pull request [here](https://github.com/Esri/resource-proxy/pull/309) which introduces support for allowing users to impersonate an IIS Application Pool Identity instead.

[2015-10-23 20:09] hmelendez commented on #310
I get this error with the recomended change:

The remote server returned an error: (401) Unauthorized.

   at System.Net.HttpWebRequest.GetResponse()

   at proxy.doHTTPRequest(String uri, Byte[] bytes, String method, String referer, String contentType, NetworkCredential credentials) in c:\inetpub\wwwroot\proxy\proxy.ashx:line 478

   at proxy.doHTTPRequest(String uri, String method, NetworkCreden

[2015-10-23 20:26] hmelendez commented on #310
I was missing the new parameter **useAppPoolIdentity="true"**. After adding the parameter I'm able to pass trhough the Webadaptor but I don't get a token. I get this error: {"error":{"code":499,"message":"Token Required","details":[]}}

[2015-10-23 20:56] esoekianto commented on #310
I think this is the situation where you need to use IWA workflow if you are using the proxy, since the server/portal is federated and secured with windows auth enabled in IIS , you wont be able to make any request to this server/portal without IWA (username/password/domain) credential object because it will throw back the 401 unauthorized from IIS.

and we know that this workflow in proxy works, i

[2015-10-23 21:02] esoekianto commented on #310
@hmelendez I have created and helped other user with your similar situation, where we created custom proxy page that will carry both IWA credentials and OAuth2. But still in this case you would still need to update the password to IWA account frequently in proxy.config.

[2015-10-26 01:46] akirti opened #311 "HTTP Vs HTTPS Issue"
When my application is running under http and I m trying to get response from https ArcGIS service its giving me 500 Error. (DotNet Proxy)

[2015-10-26 01:52] akirti commented on #311
How I can add SSL Validator there when this kind of Situation occur

[2015-10-26 02:07] akirti commented on #311
I followed
http://stackoverflow.com/questions/18454292/system-net-certificatepolicy-to-servercertificatevalidationcallback-accept-all-c/18454416#18454416
http://www.briantist.com/errors/could-not-establish-trust-relationship-for-the-ssltls-secure-channel/

And under this Method
     private System.Net.WebResponse doHTTPRequest(...)
     ....
        if (credentials != null)
            req.Credent

[2015-10-26 16:30] esoekianto commented on #311
This happens because the server, where the proxy is hosted, does not have the certificate to access the https ArcGIS Server. You can try this by browsing the to the https url in the web browser on the server, and you should see certificate error in the web browser.

Are you in the position to add the certificate to the server?

[2015-10-27 17:58] akirti commented on #311
No I cannot access Server.  but I used this code for above problem. Somtimes I get NullPointer Exception at   funcs.Push(System.Net.ServicePointManager.ServerCertificateValidationCallback);

          public static class SSLValidator
{
    private static System.Collections.Generic.Stack<System.Net.Security.RemoteCertificateValidationCallback> funcs = new System.Collections.Generic.Stack<System.Net

[2015-11-04 00:08] lccspatial opened #312 "ArcGIS Server 10.3.1 GET Token Requests"
I have configured ArcGIS Server to allow these for ArcGIS for Autocad integration.

Does the .NET proxy support GET Token Requests?

My config below:

<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
		<serverUrl url="https://samtest.launceston.tas.gov.au"
                   matchAll="true"
				   username="ISC\SVC_Spatial_Ext

[2015-11-04 00:31] esoekianto commented on #312
@lccspatial the latest version of the .NET proxy is now making POST request to exchange the token with ArcGIS Server

[2015-11-04 00:48] lccspatial commented on #312
Thanks,

The above configuration is is returning this in the log file.

w3wp.exe Information: 0 : 2015-11-04 10:06:06 https://samtest.launceston.tas.gov.au/arcgis/rest/services/Infrastructure/Assets/MapServer
w3wp.exe Information: 0 : 2015-11-04 10:06:06 Matching credentials found in configuration file. OAuth 2.0 mode: False
w3wp.exe Information: 0 : 2015-11-04 10:06:06  Querying security endpoint

[2015-11-04 01:03] esoekianto commented on #312
@lccspatial you probably need to update the proxy.ashx file to the latest one in daily build

[2015-11-04 01:51] lccspatial commented on #312
Problem solved thank you. Should this be merged with the release version?

[2015-11-04 04:19] esoekianto commented on #312
yes, we are working on finalizing the new release 1.1.0 which should include this fix, and support for AGS 10.3

[2015-11-04 04:19] #312 closed

[2015-11-04 04:44] jgravois commented on #312
none of the 1.1.0 milestone tags are showstoppers.  i vote we push them to 1.2.0 and just tag the release.  its **way** overdue.

@bsvensson

[2015-11-06 02:19] guizgis opened #313 "proxy.jsp cannot generate tokens to access security service"
The proxy files I used is the latest release(v1.0). ArcGIS Server is 10.3.1
The proxy files for dotnet works fine while for java cannot generat tokens when I specify the username and password in proxy.config. The error reported by javascript is "dojo.io.script error Error: Token Required(…)".

[2015-11-06 02:23] bsvensson commented on #307
Sounds like this is already doc'd and there's nothing left to do on the resource-proxy side.
Closing.

[2015-11-06 02:23] #307 closed

[2015-11-06 04:21] jgravois commented on #313
we released version [1.1.0](https://github.com/Esri/resource-proxy/releases/tag/v1.1.0) tonight.  please update and let us know how you go.

[2015-11-06 06:41] bsvensson commented on #108
Version 1.1.0 is tagged and released.

See https://github.com/Esri/resource-proxy/blob/master/CHANGELOG.md and https://github.com/Esri/resource-proxy/releases/tag/v1.1.0.   There might be some new feature functionality that's missing from those notes.

cc: @esoekianto @jgravois @afili @phpmaps

[2015-11-06 06:41] #108 closed

[2015-11-06 15:49] jgravois commented on #108
nice work @bsvensson!  thanks **so** much for knocking this out.  i should be able to put together a short blog to announce on geonet soon.

[2015-11-06 18:59] NoashX commented on #108
:+1:

[2015-11-09 03:32] guizgis commented on #313
Many errors are reported when I updated.

![error1](https://cloud.githubusercontent.com/assets/12145470/11025389/5788fc58-86d5-11e5-846e-39418849b90f.png)

![error2](https://cloud.githubusercontent.com/assets/12145470/11025396/6f4e217e-86d5-11e5-9f62-535c7286af47.png)

[2015-11-10 05:08] jgravois commented on #313
@esoekianto can you confirm whether or not you can reproduce these errors with our official 1.1 java proxy release?

[2015-11-10 20:05] esoekianto commented on #313
@jgravois @guizgis I can reproduce the same compiled error with the 1.1.0 version of proxy.jsp.

This is the last stable version I know, https://github.com/Esri/resource-proxy/blob/bdf7dd94178a23f016c77db42883edb9520b1fe8/Java/proxy.jsp , @guizgis, can we try using this as the base test as I am hunting which commits broke the build?

Thanks

[2015-11-10 20:06] bsvensson commented on #313
@esoekianto @guizgis - what versions of java are you using?

[2015-11-10 22:04] esoekianto commented on #313
@bsvensson I am using 1.7.0_45

[2015-11-11 06:47] guizgis commented on #313
@bsvensson  I am using 1.8.0_65
@esoekianto  I have tested the proxy.jsp you provided. However, no matter what url I add in proxy.config, I get error code 403 every time.
{"error": {"code": 403,"details": ["Proxy has not been set up for this URL. Make sure there is a serverUrl in the configuration file that matches: http://sampleserver6.arcgisonline.com/ArcGIS/rest/services/?f=pjson"], "message":

[2015-11-11 15:03] dandanaus commented on #198
Hi guys

Has anyone tried the fix above for portal 10.3.1?

I have added the oath2 endpoint and also the appid and app secret from my portal but i cannot get the secured resource.

Still getting 498 Invalid Token

Any advice?

[2015-11-11 17:04] esoekianto commented on #198
@dandanaus can you show us the serverurl of the your proxy configuration? feel free to call esri tech support, we can help you trouble shoot for this type of issue

[2015-11-11 17:06] esoekianto commented on #313
@guizgis thats weird, can you share your proxy configuration? if you have access to esri tech support, feel free to contact us

[2015-11-12 09:44] guizgis commented on #313
@esoekianto  my configuration is very simple, I don't think that could be the point. I have contacted esri support, hope a test could help find the answer. Thank you for your help.

[2015-11-13 01:58] jgravois opened #316 "1.1.? planning"
[SemVer](http://semver.org/) dictates that if a release only includes bug fixes we should only bump the patch (1.1.x).  feature additions warrant bumping the minor (1.2.0) and breaking changes require bumping the major (2.0.0).

for the time being i recommend:
- (A) we continue to merge distinct bug fixes or feature additions directly to `master` and consider maintaining an alternate long running

[2015-11-13 02:00] guizgis commented on #313
@esoekianto I have changed to use the version in #315, which sovles the compilation error. However, it is ok to access sample servers hosted by arcgisonline while error occurs when accessing my local server with error message:"ERR_INVALID_CHUNKED_ENCODING". This errors also occur when using the 1.1beta version you provided last time to access both local servers and online servers that version grea

[2015-11-13 16:11] MrPaulg opened #317 "Latest Jasvascript Proxy"
HI Guys,

Before I log a support call, I thought I'd post just in case I was doing something really stupid - which is always possible.

I have been using 1.1Beta since its release, however it had issues in Flex viewers for us - Complex polygons would not return a popup and identify would not return the geom and results again only for complex polygons - where the server response is greater than 10k

[2015-11-13 18:12] pamrichmond opened #320 "Portal 10.3 error 498 using DotNet proxy"
Using Federated Portal 10.3 with DotNet proxy on application authentication, we are getting an error code 498 when trying to access a secure map service that was created with the same account as the registered app. I verified that the clientId and clientSecret (appId and appSecret) are valid. ArcGIS and Portal are on the same server. In case it is a factor, the web adapter was changed from "arcgis

[2015-11-13 18:17] bsvensson commented on #320
See https://github.com/Esri/resource-proxy/pull/293#issuecomment-138804953 for .net logging info:

`* logLevel="Error" : Sets the level of logging to be used. Defaults to Error. Possible values are "Off","Error","Warning","Info","Verbose" or 0-4.`

[2015-11-13 18:17] esoekianto commented on #320
@pamrichmond the logFile should give you error from the Portal when exchanging token which could be a key information to this issue.

it should also give you the token that was generated, you can try appending that token to the request itself, to see if we are getting the same 498 invalid token error.

[2015-11-13 19:26] pamrichmond commented on #320
The Web.config logging option didn't work for us. I added logLevel="4" to Proxy.config, and it worked.

`<ProxyConfig allowedReferers="*"
             mustMatch="true"
			 logFile="mylogfilepath"
			 logLevel="4">...`

Here is the log:
[code]

[2015-11-13 21:44] bobjr12345 commented on #320
@esoekianto I work with Pam and am the Sys admin of the system.  After further digging into the system logs I see the error which i think that might be the root of the problem

```"Exception caught while validating token. Could not decrypt token. Token may not be valid."```

There is no additional log entries in the Portal logs.

IIS shows the traffic back and forth, which aligns with what pam add

[2015-11-16 19:57] tomwebgis opened #321 "secured printing service to print a securing map service failed with https"
Hi,

Our web application has secured map services and a secured printing service. It works fine before to apply https. After using https, map services are displaying fine, but the print function is not working with secured map services.  There is any thing missing?

Thanks,

Tom

[2015-11-16 21:31] jgravois commented on #321
what happens when you test your own print service directly at the [REST endpoint](https://sampleserver6.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task/execute)?

anything that works there should work via the proxy as well as long as the allowed urls use the appropriate protocol.

[2015-11-17 16:22] #317 closed

[2015-11-17 16:31] MrPaulg opened #322 "Referer Header"
Hi
I'm using the latest Proxy.jsp and having the following error

{"error": {"code": 403,"details": ["Current proxy configuration settings do not allow requests which do not include a referer header."], "message": "403 - Forbidden: Access is denied."}}

This error is being thrown on the popup event in a flex viewer, issues also exist for identify on secure services.

Any help is appreciated

[2015-11-17 19:06] esoekianto commented on #322
@MrPaulg this is because the request has null referrer value in the header (normally when testing from the web browser), and you are specifying allowedReferer properties in proxy.config.

https://github.com/Esri/resource-proxy/blob/master/Java/proxy.jsp#L1041

Can you check if the request from flex viewer has null referrer value in the header?

[2015-11-18 16:41] MrPaulg commented on #322
Hi Erwin, thanks for responding ..... my error was misleading, I've switched to IE11 to test and debug in developer tools ...  The issue I'm having for my POPUP and IDENTIFY is that the response body is truncated. I'm attaching examples of a working response and an error response

[sucess.txt](https://github.com/Esri/resource-proxy/files/38078/sucess.txt)
[truncated.txt](https://github.com/Esri/re

[2015-11-19 16:55] upcamogie commented on #300
I have a similar issue. the log in screen comes up somewhat randomly. It does seem to be limtied to the default rate period of 60 minutes. But in my log files, it seems to also grab the required tokens but then not apply them unless I refresh the browser. So I will load an app, get  login screen, cancel/ignore, refresh page and then app will load with my secure layers (secure on my server). Will w

[2015-11-19 16:58] djg07 commented on #300
@upcamogie

I had to many problems with login based authentication I just gave up. It seems to be extremely buggy and inconsistent. I ended up going with token based authentication which has been working flawlessly. Let me know if you want further details.

[2015-11-19 17:04] upcamogie commented on #300
@djg07
Thanks- I do want further details. Is your token based for the web map or the services? are your services hosted locally? I have tried probably almost every combo so far, client id/secret, token, a million versions of URLs in my proxy.config. All just for wanting to share a map in an app without having to share all of maps/services- seems a straightforward workflow that should not cause so

[2015-11-19 17:42] djg07 commented on #300
@upcamogie

The token is for the map services. Services are hosted on an external server.  My proxy.config file looks like the following:

[code]

In order to get a token, you have to login to your arcgis server and make a user account with read only privileges. Once its greated, head over to your server's REST page and click on the "Get Token" link in the top right. Put in the username/password y

[2015-11-19 17:58] upcamogie commented on #300
Thanks for the info-- I will definitely explore this approach since this is def something a bit different w/the special user account and whatnot. Quick curiosity- is this something you found on your own or did you enlist support help? From past experience in many issues, each person I talk to has a different solution and often contradictory which is why I continue my own tests as well as work w/su

[2015-11-19 18:04] djg07 commented on #300
@upcamogie

I generally find the tech support to be hit or miss. Some agents are very knowledgeable and helpful, others are useless and just insist on closing the ticket. The original agent suggested using the username/password approach. Despite working, my application was still getting "login" popups every so often.

I ended up figuring out this token based approach on my own. So far it has been

[2015-11-20 13:57] upcamogie commented on #185
I still have this type of issue and am using the latest dotnet proxy. i am running server 10.2.1 at the moment. has this issue really been resolved fully? i have been dealing with inconsistency for weeks

[2015-11-27 03:24] guizgis commented on #187
@rjsibar @bsvensson I have the same issue with the java proxy of version 1.1.0 and version 1.1.1beta.
When I specify the online AGS, it works fine.While local AGS in my intranet can not be accessed with the error "ERR_INVALID_CHUNKED_ENCODING", which can be accessed by using java proxy of version 1.0.
I have tested with several versions of tomcat and jre, and all met the error.

[2015-11-30 03:14] jakc commented on #124
FAQ:
*Applications using appId/appSecret by design don't have permission to search for private content, even if owned by the same person.*

Proxy Config Settings:
https://github.com/Esri/resource-proxy/blob/master/README.md#proxy-configuration-settings
*If AppID is used to access hosted services, the service(s) must be owned by the user accessing it*

Ive created an app and registered with AGO.
Th

[2015-11-30 18:20] gisjustin opened #324 "access zip files through proxy"
Zip files are not served correctly when requesting through the proxy.  Content type issue?

[2015-12-02 15:46] dmorosi opened #325 "Using resource proxy with web adaptor under windows auth"
Hi all,

I'm trying to use resource-proxy within an architecture based on Portal adn Web Adaptor. The WA and the Portal authenticate users both through Windows Authentication (domain users).
I would like to let users acces a service published on a federated ArcGIS Server on the Portal without having to impersonate a domain user. This in my proxy.config:

<?xml version="1.0" encoding="utf-8" ?>
<Pr

[2015-12-03 21:55] bsvensson commented on #127
See also #306

[2015-12-07 22:01] orlando67 commented on #282
it should also be mentioned that the referer URL is case sensitive as well
TestSite != testsite

[2015-12-08 18:50] pamrichmond commented on #320
For others' benefit, we determined that two things were missing:
1) We had to include the port number in the serverUrl to go around the web adapter. This was a network configuration issue.
2) The oauth2Endpoint needed the "authorize" URL (e.g., https://<myserver:XXXX>/portal/sharing/rest/oauth2/authorize) rather than the root oauth endpoint as indicated in the default.

[2015-12-10 02:42] bsvensson commented on #316
* On (B): Let's continue to use `1.1.1` and `1.1.1-beta` style labels within the master branch. (As we are)

* (C) It would be nice to have an automatic way to "bump-version-into-beta", i.e. do the equivalent of https://github.com/Esri/resource-proxy/pull/318.  Maybe a little script? And the equivalent for going from beta to release.

* (D) For the testing of the three proxies (which most people w

[2015-12-10 05:29] anjithalk opened #330 "The request was aborted: Could not create SSL/TLS secure channel"
I am trying to use this proxy on SSL3 protocol blocked environment. How to tell this proxy to use TLS protocol as default ?

I get this error message error: {code: InternalServerError,message:"The request was aborted: Could not create SSL/TLS secure channel."

Can someone guide me please.

[2015-12-16 18:23] jgravois commented on #316
okay, i've done more research and i'd like to amend one of my earlier suggestions.

looking at a variety of core [npm](https://github.com/gulpjs/gulp/commit/84df40b0faabc2b61d576154fd1145e2146377ca) projects, it seems that they all find it sufficient to merge directly to `master` and leave the version number alone until they're ready to tag the next release (which they tend to do **often**).  beca

[2015-12-16 18:57] phpmaps commented on #316
John – automated testing tools are key.  Having something kind of like the PHP proxy verification page would be good.  Via JS it would be great if we could check each type of request via the incomming proxy and then compare actual results with expected results – I think we just released  a JSAPI version that included a deffered collection which would be useful here.  Maybe if we want to get fancy

[2015-12-16 19:26] carrbrpoa commented on #220
Hey @michaelschnack, were you able to solve this issue?
Thanks

[2015-12-16 20:03] ngoldman commented on #316
Just saw I was mentioned and thought I'd chime in :grin:

You can get automated tests for free on each commit and pull request with Travis CI -- quite easy to get that part going. Typically it expects a repo to be for one language though. I see this project includes DotNet, Java, and PHP. You might want to consider breaking those out into separate repos. It looks like the folders for each language

[2015-12-16 20:19] jgravois commented on #220
@carrbrpoa if the server itself cannot access resources on the outside internet, the proxy will not be able to retrieve those resources either.

in some cases we've found servers that are entirely firewalled, in others, the IIS user assigned to fetch resources in the .NET application pool utilized by the proxy is prohibited specifically.

[2015-12-16 21:04] carrbrpoa commented on #220
Hey John,

If I login in the machine with the same app pool configured user, I can
browse the internet normally (thanks to Internet Options' proxy config).
I'll just confirm tomorrow if I can browse the same addresses negated by
the proxy, which I didn't tried.

Thanks
On Dec 16, 2015 18:45, "john gravois" <notifications@github.com> wrote:

[2015-12-16 22:05] jgravois commented on #316
@ngoldman, it would obviously be ideal to have the testing entirely automated, but i'm not sure how we can confirm that the proxies are functioning correctly without issuing authentic web requests, in some cases after supplying private credentials (to test its ability to generate tokens).  because of this, up until now i hadn't even considered trying to use something like Travis.

if/when we get w

[2015-12-16 22:44] ngoldman commented on #316
It shouldn't be too difficult to both run a test server with the proxy and fire web requests on travis. For tokens, you can set environmental variables that are encrypted like so: https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings. This is how I handled testing for geohub, koop-github, and koop-gist ([example](https://github.com/koopjs/geohub/blob/mast

[2015-12-16 22:47] bsvensson commented on #316
@ngoldman - When you say test server, what sort of server would it be?  We would need something that can serve out JSP etc...

[2015-12-16 22:52] ngoldman commented on #316
I imagine each language would need a test server to replicate the expected conditions -- basically an example implementation of the proxy for that language.

[2015-12-17 12:52] carrbrpoa commented on #220
Well, actually it worked today. I don't know what happened yesterday, maybe some user permissions/proxy glitch. Thanks anyway.

[2015-12-22 11:09] Denverino commented on #226
Hi. I have the same issue with the proxy on a Lan. How can i fix it? Thanks for any help.

[2015-12-22 11:24] Tapas-Das commented on #226
Hi Denverino,

The fix is very simple when you have a Proxy on your Local Area Network.
I have explained it on pages 221 through 226 of this Help Guide:

http://www.tapasdas.com/WABv2.pdf

You have to open IIS Manager and tweak it so that it is aware that you have a Proxy on your LAN.

Open the Configuration Editor under Management

Expand the drop down list for Section

Select defaultProxy under

[2015-12-22 11:24] #226 closed

[2015-12-22 12:15] Denverino commented on #226
Tapas-Das, big thanks for so fast answer!I think it's resolve my problem. Tomorrow i will test it.

[2016-01-05 17:35] upcamogie opened #331 "Multiple serverUrls for token/server based services in the same proxy.config?"
edited - I am using the DotNet proxy--
I have 2 sets of server-side credentials I want to use for different apps. Ideally one proxy.config would have everything I need. However, my apps seem to only work when the serverUrl for that service is listed first in the proxy.config so it seems to ignore the 2nd rule for my http://myserver.org/rest/services.  Currently I have 2 proxies with the same rules

[2016-01-05 17:58] esoekianto commented on #331
@upcamogie so you have two sets of credentials for the same serverUrl in the proxy.config? The proxy would use the first serverUrl listed in the case of duplicates in the serverUrls list

[2016-01-05 18:08] upcamogie commented on #331
Thanks @esoekianto-- yes, that is correct and your explanation makes sense for what I am seeing. Would I be able to have these 2 users if I added a folder name after /services? I think I tried that and it still did not work. Should I deploy multiple proxies based on user? I can do that but wasn't sure of my options.

[2016-01-05 18:11] bsvensson commented on #331
In theory, adding the folder name should work.  If not, I'd consider that a bug.
Currently, I think this behavior differ between the three proxies. It might work for some of them, but not all three...

[2016-01-05 18:19] esoekianto commented on #331
@upcamogie if the serverUrls for both users are identical, then yes, you would need to have multiple proxies. (although this is a good enhancement where you can have different user depending on the referrer value)

yes, adding folder name should work. it will go like this,
[code]

another trick, if you can have the folder prefix that specific per user, you have have multiple folders for each user

[2016-01-05 18:30] upcamogie commented on #331
Thank you both @esoekianto  and @bsvensson for your ideas. The folder thing does not work for me-- still no dice with how I need to have it currently.  I will have to use different proxies since my one user has access to services in many folders (hence the root level ServerUrl) and the other user I have more flexibility limiting to a folder. Overall though I would like my proxy to be generic enoug

[2016-01-05 18:48] esoekianto commented on #331
@upcamogie the last time I tried it, the folder workflow worked, I will try it again in little bit.

can you try changing the order just little bit, try to have the server url with folder first in order with the first user, then the server url for root folder with main user after?

essentially the proxy is going thru the serverurl in the order, and compare the request uri string with serverurl lis

[2016-01-05 20:27] upcamogie commented on #331
That seems to have done the trick, @esoekianto, thanks. I am now able to use the one proxy with all 3 apps which use a proxy-- one for my user via 'services/folder' and the other at the root /services. I had not reordered with the folder designation and that seems to be the key, as you describe above. thank you for your assistance.

[2016-01-05 20:30] esoekianto commented on #331
@upcamogie im glad it worked out for you

[2016-01-05 20:30] #331 closed

[2016-01-06 23:38] esoekianto commented on #324
@gisjustin sorry for the delay, do you have sample request for this issue? and more description of where the zip file are coming from (ex. AGOL, AGS, etc)?

I remember we were working on attachment issue in general from ArcGIS Server, and we have made a patch for that, see #87

[2016-01-06 23:41] esoekianto commented on #325
@dmorosi sorry for the delay, yes it looks like we are getting 401 back from WA in IIS. This workflow should work, do you know if you are using special configuration of WA setting?

and also, why would need to have tokenServiceUri when using WA?

[2016-01-16 23:26] jtawee opened #332 "POST to geometry service for 'PROJECT' is returning HTML instead of JSON"
I am using the ArcGIS JS API, using the Geometry Service object to project points.  All is well until I have geometries with data that is large.  This causes the request to use a POST instead of GET, which causes the request to go through this proxy here.  This proxy is supposed to be able to handle this request, sending the request to the geometry service (in this case http://tasks.arcgisonline.c

[2016-01-18 07:43] akaSStalkALEX commented on #225
Does anybody know solution to this problem or maybe work around?

[2016-01-18 07:59] akaSStalkALEX commented on #225
In case someone  experienced the same problem with blank screen after json_decode, there is global config turning off error reporting in proxy script. After turning it on, I was able to see all errors.

[2016-01-18 22:38] bsvensson commented on #332
Hi @jtawee - thanks for reporting this.  Could you explain a little more for us to be able to replicate the issue?  Also, which proxy did you use DotNet, java or php?

If you are using the ArcGIS JavaScript API, e.g. with https://developers.arcgis.com/javascript/jsapi/geometryservice-amd.html#project, you shouldn't have to specify f=json. The API takes care of this.  I'm not sure what you mean whe

[2016-01-19 01:29] jtawee commented on #332
Hello:

I'm using the java proxy.

Yes, I am using

https://developers.arcgis.com/javascript/jsapi/geometryservice-amd.html#project
from the ArcGIS JS API.

One of the params that gets passed to this function is the
'ProjectParameter" object.  That's where I set the 'geometries' and 'outSR'.

I do not specify the 'f=json', the api does take care of it (that's what I
mean by saying 'sending as post

[2016-01-21 21:31] jtawee commented on #332
Just to add to this issue.  I don't think POST to this proxy works for any service.  I just realize that my routing widget fails when it switches over to use POST.  (if I route a path with 3 location, it sends a GET request to this proxy, but when I add a 4th location, the widget sends a POST to this proxy instead, causing an error. )  Looking at the response, I see the same issue as above, i am g

[2016-01-26 13:52] mdelsinne opened #333 "Java6 - Etat HTTP 500 - connect timed out"
Hi,

I try to use a JSP proxy page with my tomcat6. The ping is Ok. I can access to my ArcGIS server locally through the proxy page, it works well. But I can not enter a REST web page arcgis server (eg http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson ).

Etat HTTP 500 - connect timed out

GRAVE: A fatal proxy error occurred.
java.net.SocketTimeoutException: connect timed out
      at

[2016-01-26 15:00] mdelsinne commented on #333
I found , you must configure the proxy system to use with tomcat6.

So I added the following lines in proxy.jsp: (before the connection opening)
// Set Proxy system
System.setProperty("http.proxyHost", "ip_host");
System.setProperty("http.proxyPort", "port_number");

if the proxy requiere authentication, then add also:
System.setProperty("http.proxyUser", "user");
System.setProperty("http.proxyPas

[2016-01-26 15:01] #333 closed

[2016-01-27 12:47] carrbrpoa opened #334 "Intermittent lost of connection (?)"
Hello,

I've found a situation in my environment. Consider the following:

- The server **ServerA** (Windows Server 2012 R2) is behind a corporate proxy;
- **ServerA** has an Application Pool which identity is **domain\UserA**, specific to this *DotNet proxy*;
- Internet Options of **domain\UserA** is configured to use corporate proxy, which allows him to open a browser and navigate the internet.

[2016-01-27 13:50] carrbrpoa commented on #334
Seems that I identified a pattern: only works while **domain\UserA** is logged in **ServerA** and some minutes after logout. I'm I missing some configuration?

[2016-01-28 16:55] shorqubit opened #335 "FeatureLayer secured/proxy service request cancelled"
Cross-posted a parent thread on GeoNet with more debugging info:

https://geonet.esri.com/thread/171243

In essence, secured map services using the latest release proxy (v1.1.0 - ASP.NET) choke when encountering a field with certain special chars, e.g. *, #, •. When the map service is unsecured, and the proxy rule is removed, the service renders without issue, otherwise, partial features (some poi

[2016-01-28 18:42] carrbrpoa commented on #334
I think that a colleague of mine found the solution. It was an IIS config:

![iis](https://cloud.githubusercontent.com/assets/10212618/12654997/e7554016-c5dd-11e5-9d08-7fc6e2fa12c5.png)

Need to be **True** so IIS is able to load Identity user's configuration (for example Internet Options).

[2016-01-28 18:42] #334 closed

[2016-01-28 22:09] shorqubit commented on #335
It seems I'm able to work around this by hardcoding encoding in fetchAndPassBackToClient()

[2016-01-31 15:27] daranasela opened #336 "Proxy Issue when using IE 11 browser via GET method"
Hi

I'm currently using ArcGIS Javascript API and Proxy.jsp. Everything works fine with Chrome and Firefox  browser. But it fails when the ArcGIS API forward GET method url as below:

http://localhost:7777/proxy/jsp/proxy.jsp?http://xx.xxx.xx.xx/ArcGIS/rest/services/LayerMgmtSpecific/FeatureServer/8?f=json

The IE browser consider the above url as an invalid url.

Does anyone experience this befor

[2016-01-31 23:31] bsvensson commented on #336
Does other things work with localhost:7777, e.g. http://localhost:7777/proxy/jsp/proxy.jsp?ping and/or some non-proxy URL on that domain port combo?

Try using `http://<name of the computer>` instead of `http://localhost`.

[2016-02-01 01:33] daranasela commented on #336
The ping (http://localhost:7777/proxy/jsp/proxy.jsp?ping) works as normal.
The issue is only with IE as IE consider the last parameter ?f=json as invalid url.
I works when I paste the url in IE browser and I remove the last param ?f=json as below:
http://localhost:7777/proxy/jsp/proxy.jsp?http://xx.xxx.xx.xx/ArcGIS/rest/services/LayerMgmtSpecific/FeatureServer/8

[2016-02-04 15:07] sebaspelletier commented on #185
I still have this type of issue and am using the latest dotnet proxy. I use ClientId and ClientSecret on ArcGIS Online. When the proxy make  "renewing token" the result is always "Invalid Token". At the next proxy call the respond il always OK.

[2016-02-05 00:02] girishyadav20 opened #337 ""tokenServiceUri" attribute is not working in Dot.Net proxy"
The Proxy configuration settings has one parameter to set token service url.

"tokenServiceUri: If username and password are specified, the proxy will use the supplied token service uri to request a token. If this value is left blank, the proxy will request a token URL from the ArcGIS server."

But proxy does not respect it. When I checked proxy.ashx, found that this XMLAttribute is not read from

[2016-02-05 00:08] bsvensson commented on #337
It's implemented in all three proxies.  [For ashx](https://github.com/Esri/resource-proxy/blob/master/DotNet/proxy.ashx#L533-L544):
[code]

Are you maybe not using the latest version?

[2016-02-05 00:16] esoekianto commented on #337
@girishyadav20 I am looking thru this issue, the problem with the server you are working on is,

the rest/info is giving the token url with https but when you try to go to the token url with url is not accessible.

I would suggest changing the token url setting of the ags server to point to http or enable https

[2016-02-05 00:32] girishyadav20 commented on #337
@bsvensson I am using a latest version of proxy and currently proxy is getting tokenServiceUri from server info. But as mentioned in the proxy settings document we can specify "tokenServiceUri" through proxy.config as well. Is that true?

@esoekianto Yes, I also observed the same and notified client to make required changes. Thanks for your help.

[2016-02-09 03:31] kkerbel commented on #185
Like sebaspelletier, I too am still having this issue with the newest version of the proxy. Should we use a different version or something?  Thanks! Kit

[2016-02-09 13:54] sebaspelletier opened #338 "Renewing token result at "Invalid Token"."
This Issue: https://github.com/Esri/resource-proxy/issues/185#issuecomment-181690511
is not closed. I still have this type of issue and am using the latest dotnet proxy. I use ClientId and ClientSecret on ArcGIS Online. When the proxy make "renewing token" the result is always "Invalid Token". At the next proxy call the respond il always OK.

My workaround is not the best but he work. In ProcessRe

[2016-02-09 13:55] sebaspelletier commented on #185
Check my new post : https://github.com/Esri/resource-proxy/issues/338

[2016-02-16 00:46] pstaikov opened #339 "A security issue with using the proxy."
I am facing the following issue. I have a web app that accesses a portal through a proxy. The proxy logins to the portal using windows authentication. The users should not have access to the portal. However, the following strange thing happens. When the user logs to the app and afterwards switches to the portal URL, they are let in with the identity used by the proxy. After investigating this for

[2016-02-16 13:48] mvrtich commented on #320
I'm getting the same error (498:Invalid Token) trying to access secured services from federated server.
Services are not hosted, however they are published/owned by the same user who registered the proxy application in Portal.

Here is the proxy log:
[code]

I' am using DotNet proxy version 1.1.0 with ArcGIS for Server 10.4, however the same is happening with 10.3.1.

[2016-02-16 14:08] pamrichmond commented on #320
After my last post on this thread, we found that something had been cached on the server, so what we thought was working was not.  My colleague, bobjr12345, worked with ESRI support and determined that there is a bug that is causing this issue with federated Portal. To my knowledge, a fix has not yet been released.

[2016-02-16 14:15] mvrtich commented on #320
Thanks for the update.
To clarify this, it seems there is no way to access secured services from federated server using application login, even in ArcGIS for Server 10.4.

[2016-02-17 15:56] jamiew0519 commented on #338
Hi!  I'm struggling with this same issue.  Do you mind posting the full content of your proxy.ashx?  Thanks!

-Jamie

[2016-02-18 21:25] pstaikov commented on #339
I did something which at this point seems to have fixed my issue. I changed the proxy code in a way that prevents the server from setting any  cookie. I changed the copyHeaders method (below) by adding a line to ignore the set-cookie header. This prevents the server from propagating any cookies to the client. I think an even better solution would be to only filter out the esri_auth cookie but I co

[2016-02-18 22:20] roygbivens opened #341 "All HTTP requests synchronized due to logging for Java proxy page"
The manner in which logging is configured and managed results in all HTTP requests to the proxy page to be synchronized for logging output.  Static method _log has a synchronization block  on _lock object that is defined as static scope.  This will result in every method invocation for logging to be synchronized.  Every web request to the proxy page starts with  _log(Level.INFO, "Creating request

[2016-02-19 13:31] sebaspelletier commented on #338
Here is my file hoping this helps you ... we work in french but you should understand.
[proxy.ashx.txt](https://github.com/Esri/resource-proxy/files/138010/proxy.ashx.txt)

[2016-02-23 14:08] adityakumar529 opened #342 "Problem in installing proxy"
(“https://github.com/Esri/resource-proxy”   link to download the proxy).
Once we setup up the proxy and pass the first url
http://localhostDotNet/proxy.ashx?ping for test we get the following message which shows the configuration is ok.

In the second step we need to pass the url through the proxy so we pass the following url

This error message shows the proxy has not been setup properly because

[2016-02-23 16:36] bsvensson commented on #342
@adityakumar529 - it seems like some of your text description is missing - like the example URL and the actual error message.

[2016-02-23 22:59] bobjr12345 opened #343 "Running Web AppBuilder (WAB) thru Proxy"
I am trying to access a WAB app exclusively thru the proxy.  It seems that this should be doable but I keep running into road blocks like the map not loading.  I can get the logo to spin but does not load the 2nd step and access the secured map.

If i access the WAB project by going to its html page then it opens the secured map without any issues.  So obviously the WAB config.json is configured a

[2016-02-23 23:08] esoekianto commented on #343
@bobjr12345

I have never seen a scenario where you run the whole web application (web app builder application in this case) thru the proxy, http://example/com/proxy.ashx?http://theapplication.com/index.html

And this resource proxy was not build to be used like this, it is meant for specific request to secured ArcGIS Server service or premium service in ArcGIS Online (routing service, elevation,

[2016-02-23 23:15] bobjr12345 commented on #343
@esoekianto
Thanks for the quick response.  The application will be hosting secured resources.  I need to share the resources with a larger group of people without them signing in, and I need to use a 3rd party authentication to control access which is why I was hoping to push everything thru the proxy so I can restrict access by ip-address.  Im guessing its not quite possible at this time the way

[2016-02-23 23:20] esoekianto commented on #343
@bobjr12345
it is very interesting, but unfortunately the resource-proxy can only support the authentication to ArcGIS Server and ArcGIS Online at this point

[2016-02-23 23:20] #343 closed

[2016-02-24 06:41] adityakumar529 commented on #342
@bsvensson
When I check if the proxy has been installed.
![image](https://cloud.githubusercontent.com/assets/17431182/13277497/584b1dce-daef-11e5-882a-2d0eb7224016.png)

When I try to pass a url through the proxy as mentioned in the readme file of the proxy.
![image](https://cloud.githubusercontent.com/assets/17431182/13277525/9322b1f0-daef-11e5-891d-cb0fbbc260fd.png)

This shows I am not able to

[2016-02-24 16:12] esoekianto commented on #342
@adityakumar529

That error normally means that the web server where proxy is hosted can not access the URL that is being proxied.

In my experience, this web server has no outside/external/internet access.

[2016-02-24 17:00] adityakumar529 commented on #342
@esoekianto But when I am accessing the same url without proxy I am able to see the data.
![image](https://cloud.githubusercontent.com/assets/17431182/13293562/1d5bc734-db46-11e5-90e0-d368ca94703d.png)

[2016-02-24 17:09] esoekianto commented on #342
@adityakumar529 hmm, another test is by creating simple aspx code (c# or VB.NET) that make http request to the same URL from server side, and host it in the same server.

this is what the proxy page is failed doing in that server literally.

[2016-02-25 23:53] roemhildtg commented on #158
I'm experiencing this issue with sample servers, which shouldn't require authentication I had thought. For example, the following gives this error in the log file.

`/proxy/proxy.php?http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Petroleum/KSPetro/MapServer/1/`

And my config file has this line in it:

`<serverUrl url="http://sampleserver3.arcgisonline.com" matchAll="true"/>`

[2016-02-26 05:57] adityakumar529 commented on #342
@esoekianto I am sorry I have not done the test with aspx code. But considering it to be the issue what solution do you suggest.

[2016-03-01 20:26] michaelschnack commented on #342
Having the same issue.  Latest version of the proxy on IIS 7.
http://myserver/proxy/proxy.ashx?http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson  returns a 500, but I can connect to the URL directly from myserver or from the client.
http://myserver/proxy/proxy.ashx?ping returns:
{ "Proxy Version": "1.1.0", "Configuration File": "OK", "Log File": "Not Exist/Readable"}

[2016-03-01 22:03] esoekianto commented on #342
@adityakumar529 if thats case then you would need to make changes to the server setting to allow connection to outside world

[2016-03-01 22:20] GISSupport commented on #325
You need (I think) the token service as a Federated Server needs IWA off and has server authentication mode set to ARCGIS_PORTAL_TOKEN.

From http://server.arcgis.com/en/portal/latest/administer/windows/federate-an-arcgis-server-site-with-your-portal.htm

If the server you want to federate uses web-tier authentication, you'll need to disable web-tier authentication (basic or digest) and enable ano

[2016-03-02 06:23] adityakumar529 commented on #342
@esoekianto :+1:
Do you mean the server where I am putting my proxy? If yes then my server does have access to outside world.

[2016-03-04 14:58] gavinr opened #346 "PHP: proxy-verification page blank if CURL extension not installed"
If you don't have the cURL PHP extension installed, the `proxy-verification.php` page is blank. I know cURL is listed as a requirement [here](https://github.com/Esri/resource-proxy/tree/master/PHP#requirements), but it would be nice for the `proxy-verification.php` page to tell you if you're missing a dependency.

PHP Version tested in: 5.5.9

[2016-03-04 15:17] bsvensson commented on #346
The verification page is supposed to check for cUrl.  See https://github.com/Esri/resource-proxy/blob/master/PHP/proxy-verification.php#L189-L191.  @gavinr - Is this not working in your case?

[2016-03-04 15:31] gavinr commented on #346
It did not. It just gave me a blank page. I've only run though this once - haven't had a change to replicate it, but here are the steps:

OS: Ubuntu 14.04.3 LTS

1. Apache is already installed
2. `sudo apt get update`
3. `sudo apt-get install php5 libapache2-mod-php5 php5-mcrypt`
4. `sudo service apache2 restart`

** at this point when i hit `proxy-verification.php`  the page was just blank. Once

[2016-03-07 03:33] GISSupport commented on #320
We are about to (test) upgrading to 10.4 and switch to a Federated Portal / Server.
We currently have IWA and understand will need to change to tokens and use the proxy.

Is this currently not possible to do?
Is there a timeframe to fix / workaround?

[2016-03-07 22:15] esoekianto commented on #320
@pamrichmond @mvrtich @GISSupport

We are trying to test this and create the same scenario as you have to see if there is something wrong or something we can fix, we will let you know soon

[2016-03-08 00:01] GISSupport commented on #320
Thanks for the update.

I guess another option is to add the Identity Manager to our JS code and add the token management calls to our .Net code ... unless the issue is something at a more fundamental level?

[2016-03-08 23:48] huawan opened #347 "bugs on .net proxy"
I am using proxy page to consuming secured arcgis map service: (arcgis tier, built-in ags user and role), two bugs I found so far:

1) token expiration time is hard-coded in the code :
log(TraceLevel.Info," Service is secured by " + tokenServiceUri + ": getting new token...");
string uri = tokenServiceUri + "?f=json&request=getToken&referer=" + PROXY_REFERER + "&expiration=60&username=" + su.Usern

[2016-03-09 11:25] adityakumar529 commented on #342
@esoekianto : We made one aspx page and tried to redirect it to http://services.arcgisonline.com/ArcGIS/rest/services/?f=pjson and its working fine.
Thanks

[2016-03-16 18:06] markdeaton commented on #330
I encountered this as well. I had to modify proxy.ashx to include this call:
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

As outlined in this StackOverflow discussion:
http://stackoverflow.com/questions/10822509/the-request-was-aborted-could-not-create-ssl-tls-secure-channel

[2016-03-22 04:53] sanramanathan opened #350 "Identity pop up with ags proxy issue"
Hi,i am using ags proxy along with my .Net application and for Arcgis server SQL DB as custom identity store. When i run the application i am getting identity pop up even though i pass username and password dynamically in proxy code.After getting this identity popup if i refresh the browser twice i am able to see map service again.

can you guide me on what configuration i am missing here..

[2016-03-22 15:44] esoekianto commented on #350
@sanramanathan can you show us how do you pass the username and password dynamically in proxy code? Are you using customized version of the proxy page to achieve this?

if you have tech support, feel free to call us, we may be able to help you faster.

[2016-03-23 02:49] sanramanathan commented on #350
@esoekianto i have download latest proxy(resource-proxy-1.1.0). i didn't customized much just in the following method i passed username and password from ASp.net Session

  private string getNewTokenIfCredentialsAreSpecified(ServerUrl su, string reqUrl)
        {
....
 //standalone ArcGIS Server/ArcGIS Online token-based authentication

 if (tokenServiceUri != "")
                        {

[2016-03-30 03:03] sanramanathan commented on #350
Hi,
I have found that reason for identity pop up is when i refresh the page after token expiration time the api is sending request for "arcgis/rest/info?f=json" via ags proxy so identity popup is coming.when i refresh back again. request for map services goes and map is displayed.I dont know why rest info request is coming in between.

any suggestions to stop this in proxy.

[2016-03-30 15:09] esoekianto commented on #350
@sanramanathan how about routing that request "arcgis/rest/info?f=json" thru the proxy as well?

[2016-03-31 02:50] sanramanathan commented on #350
@esoekianto  yes i am routing that through proxy. what happening here is proxy code is taking "arcgis/rest/info?f=json"  url as request uri and generates token(which is not required) .Then  attaches the token to this url and forwardToServer .So server response is arcgis server info json. After this stage i am confused,Dont know how my arcgis javascript application opens up the identity pop up (wit

[2016-03-31 03:02] sanramanathan commented on #347
@huawan  Yes, i too had that issue old token is still in url and new token append to it.Resolved by removing the old expired token before creating the new token

[2016-03-31 03:30] sanramanathan commented on #300
@djg07 @upcamogie

Hi,

I too have a similar popup prompt problem.Here I am using .net proxy with  dynamic username and password .When i open my application i am getting identity pop up for first time but when i refresh twice    the browser popup disappears and map is visible and also when application is running if i refresh the browser pop up appears again.

when checked in debug mode. login prom

[2016-03-31 03:55] esoekianto commented on #350
@sanramanathan yes you did, and you are correct that what we need to find out is what is, which request triggers the identity manager (login popup).

I would normally examine all the requests (especially the ones that going to ArcGIS Online or ArcGIS Server) at fiddlers or network tab in developers tools, and see which one that has response "token required".

if you want I can call you and take a

[2016-03-31 12:25] upcamogie commented on #300
@sanramanathan what kind of application do you have? Your proxy rules may be ok but the proxy reference in your app may not be. I have had to structure my app's proxy rules depending on whether it was a story map or a web appbuilder app. I have not had to do this from scratch lately but can refer back to my app code if you think either of those app types may be similar enough. Also, the latest ver

[2016-04-05 04:16] sanramanathan commented on #300
I am using Asp.Net application with arcgis javascript api with proxy also included as part  my project code.
Services are from arcgis server 10.2.1 running in another pc (samplegis).
I have given proxy rules using the following code

require([
    "esri/urlUtils"
    ], function (urlUtils) {

        urlUtils.addProxyRule({
            urlPrefix: $("#URLGIS").val(),//"http://samplegis:6080"

[2016-04-05 10:18] sanramanathan commented on #350
@esoekianto  I checked with Fiddler and netowk tab about the point you have mentioned.

I found that when a user(first time) from different pc(other than developer pc) login to my application, in fiddler i noticed that json  request goes to the mapservice  whose response is error :499 ,Token required following that "arcgis/rest/info?f=json" is called,then popup appears.
![error new user](https://c

[2016-04-05 17:21] wcfbj0 opened #351 "Can not handle the options request (.net proxy)."
When I run the proxy in IE (IE 11), there is no problem whether the length of the request is longer (request method is POST) than 2048 or less (request method is GET).

When I run the proxy in Chorme (Version 49.0.2623.110 ), proxy works fine if the request url length is less than 2048 (request method is GET).  If the request URL length is longer than 2048, the request method is OPTIONS, and reque